// WC Cart - Mobile.
.elementor-widget-woocommerce-cart {
	// Base theme widget styles.
	&.vamtam-has-theme-widget-styles {
		.woocommerce {
			table.cart {
				tr {
					padding: 10px 0;
				}
			}
		}

		.e-shop-table .cart td {
			text-align: left !important;

			&:before {
				width: 100%;
				text-align: left;
				margin-bottom: 2px;
			}
		}
	}
}
