.elementor-widget-woocommerce-purchase-summary {
	// Base theme widget styles.
	&.vamtam-has-theme-widget-styles {
		.woocommerce {
			.woocommerce-order {
				.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
					th.woocommerce-table__product-table.product-total {
						text-align: right;
					}
					td.woocommerce-table__product-total.product-total {
						text-align: right;
					}
					tfoot {
						td {
							text-align: right;
						}
					}
				}
			}
		}
	}
}
