/*--------------------------------------------------------------
>>> RadiantTheme Custom Login CSS
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Login Body
# Login Message
# Login Form
# Login Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Login Body
--------------------------------------------------------------*/

*{
    margin:0 auto;
    text-decoration:none !important;
    outline:none !important;
    box-sizing:border-box;
}

body{
    background:url(../images/Radiant-Admin-Login-Background.png) center top no-repeat;
    background-size:cover;
}

/*--------------------------------------------------------------
# Login Message
--------------------------------------------------------------*/

.login #login_error,
.login .message{
    border-left-color:#fde428;
    background-color:rgba(255,255,255,0.3);
    color:#fff;
}

/*--------------------------------------------------------------
# Login Form
--------------------------------------------------------------*/

.login form{
    margin-top:30px;
    padding:0;
    background:none;
    box-shadow:initial;
}

.login form label{
    color:#fff;
}

.login form input[type="text"],
.login form input[type="password"]{
    height:45px;
    margin:10px 0px 15px 0px;
    padding:0px 12px 0px 42px;
    background-color:#f4f4f4;
    background-position:12px center;
    background-repeat:no-repeat;
    border:none;
    border-radius:3px;
    box-shadow:initial;
}

.login form input[type="text"]{
    background-image:url(../images/Radiant-Admin-Login-User-Icon.png);
}

.login form input[type="password"]{
    background-image:url(../images/Radiant-Admin-Login-Password-Icon.png);
}

.login form .forgetmenot label{
    display:inline-block;
    vertical-align:top;
    margin-top:15px;
}

.login form .submit .button-primary{
    height:auto;
    padding:9px 40px 11px 40px;
    background-color:#fde428;
    border:none;
    border-radius:3px;
    box-shadow:initial;
    text-transform:uppercase;
    font-weight:700;
    font-size:16px;
    color:#001139;
    line-height:25px;
    letter-spacing:1px;
    text-shadow:0px 0px 1px rgba(255,255,255,0.92);
}

/*--------------------------------------------------------------
# Login Footer
--------------------------------------------------------------*/

.login #nav,
.login #backtoblog{
    text-align:center;
}

.login #nav a,
.login #backtoblog a{
    color:#fff;
}

.login #nav a:hover,
.login #backtoblog a:hover{
    color:#fde428;
}