/* Shortcode Margins -------------------------------------------------------- */
.team-member,
.toggle,
.unapproved {
	padding-top: @vertical-padding/2;
	padding-bottom: @vertical-padding/2;
}

.loop-wrapper.page-content {
	padding-top: 0;
	padding-bottom: 0;
}
