.btn-close-hamburger-menu i {
  vertical-align: top;
}
.elementor-element.fadeInUp {
  -webkit-animation-name: shortfadeInUp;
  animation-name: shortfadeInUp;
}

.loadmore-btn{
  --element-border-color: $border-color;
  --element-hover-border-color: $primary-color;
  .elementor-button-wrapper{
    .elementor-button {
      position: relative;
      font-size: 11px;
      text-transform: uppercase;
      line-height: 18px;
      padding: 10px 20px 10px 20px;
      min-width: 170px;
      background-color: transparent;
      color: $secondary-color;
      border: 1px solid var(--element-border-color);
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        border-top: 1px solid var(--element-border-color);
        width: 60px;
        transition: inherit;
      }
      &:before {
        left: 100%;
      }

      &:after {
        right: 100%;
      }
      &:hover {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
        &:before,
        &:after {
          border-color: var(--element-hover-border-color);
        }
      }
    }
  }
}

.lahb-nav-wrap.has-megamenu .menu ul li.mm-menu-custom-block>a {
  display: none;
}

img.la-lazyload-image:not([data-element-loaded]) {
  height: initial;
}

a.rev-btn {
  transition: none;
}

@media(max-width: 1200px) {
  .mgana_rev_nav1.tparrows {
    width: 40px !important;
    height: 40px !important;
    border-width: 1px !important;
  }
  .mgana_rev_nav1.tparrows:before {
    font-size: 18px !important;
    line-height: 38px !important;
  }
  .mgana_rev_nav1.tparrows.tp-leftarrow {
    transform: translate(-60px, -150px) !important;
  }
  .mgana_rev_nav1.tparrows.tp-rightarrow {
    transform: translate(-60px, -100px) !important;
  }
}

.lahb-nav-wrap.menuheader7 {
  @include justify-content(flex-start);
}

.lahb-desktop-view .logo-at-center-menu .lahb-nav-wrap > .menu > li:nth-child(3) {
  margin-right: 150px;
}

.lahb-desktop-view .logo-at-center-menu .lahb-element.lahb-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lahb-desktop-view .logo-at-center-menu .lahb-nav-wrap > .menu > li:nth-child(4) {
  margin-left: 150px;
}

.lahb-desktop-view .logo-at-center-menu .lahb-nav-wrap {
  margin-left: -1em;
}

@media(max-width: 1700px) {
  .lahb-wrap .lahb-desktop-view .lahb-row1-area.logo-at-center-menu {
    padding-left: 60px;
    padding-right: 60px;
  }
  .lahb-desktop-view .logo-at-center-menu .lahb-nav-wrap > .menu > li:nth-child(3) {
    margin-right: 120px;
  }
  .lahb-desktop-view .logo-at-center-menu .lahb-nav-wrap > .menu > li:nth-child(4) {
    margin-left: 120px;
  }
}

.lastudio-banner__button i {
  vertical-align: middle;
  font-size: 10px;
  margin-top: -1px;
}

.tparrows.arrow-01 {
  border-radius: 50%;
  background-color: #e5e5e5;
}

.tparrows.arrow-01:before {
  color: #191919;
}

.tparrows.arrow-01:hover:before {
  color: #fff;
}

.la-custom-badge {
  position: absolute;
  z-index: 3;
  font-size: 12px;
  padding: 2px 5px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  top: 20px;
  min-width: 60px;
  background-color: #212121;
}

.save-percentage:before {
  content: '-';
}

.onsale {
  min-width: 60px;
  top: 20px;
  background-color: #1D1D1D;
}

.onsale .save-total,
.onsale .save-sale-price {
  display: none;
}

.la-custom-badge.even + .odd + .onsale,
.la-custom-badge.even + .onsale,
.la-custom-badge.odd ~ .odd,
.la-custom-badge.even ~ .even {
  top: 50px;
}

body.ltr {
  .la-custom-badge {
    right: 0;
  }

  .la-custom-badge.even {
    left: 0;
    right: auto;
  }

  .la-custom-badge.odd + .onsale {
    left: 0;
    right: auto;
  }

  .la-custom-badge.even + .onsale {
    right: 0;
    left: auto;
  }
}

body.rtl {
  .la-custom-badge {
    left: 0;
  }

  .la-custom-badge.even {
    right: 0;
    left: auto;
  }

  .la-custom-badge.odd + .onsale {
    right: 0;
    left: auto;
  }

  .la-custom-badge.even + .onsale {
    left: 0;
    right: auto;
  }
}

.tp-caption a.js-el {
  color: inherit;
  line-height: inherit !important;
  font-size: inherit !important;
  vertical-align: top;

  svg {
    vertical-align: top;
  }
}

.popup-added-msg {
  text-align: center;

  img {
    width: 200px;
    max-width: 80%;
    margin-bottom: 20px;
  }

  .popup-message {
    margin: 10px 0;
  }

  a.button {
    display: block;
    width: 250px;
    padding-left: 0;
    padding-right: 0;
    margin: 10px auto 0;
    max-width: 100%;
  }
}


.widget_media_image {
  .sidebar-blog-banner {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#fff, 0.09);
      transition: 0.4s;
      z-index: 0;
      transform: scaleX(0);
    }

    &:before {
      transform: scaleY(0);
    }

    &:hover {
      &:after {
        transform: scaleX(1);
      }

      &:before {
        transform: scaleY(1);
      }
    }
  }
}

.has-default-404 {
  .default-404-content {
    @include display;
    @include align-items(center);
    min-height: calc(100vh - 100px - var(--header-height) - var(--footer-height));
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;

    h1 {
      font-size: 150px;
      line-height: 1;
      color: $primary-color;
      font-weight: normal;
      margin-bottom: 35px;
    }

    h4 {
      font-size: 46px;
      font-weight: normal;
      color: inherit;
      line-height: 1.2;
      margin-bottom: 10px;
    }

    .button {
      background-color: transparent;
      color: inherit;
      border: 1px solid;
      padding: 15px 25px;
      line-height: 28px;
      font-weight: normal;
      border-color: $three-color;
      margin-top: 25px;

      &:hover {
        background-color: $primary-color;
        color: #fff;
        border-color: $primary-color;
      }
    }
  }

  &.admin-bar {
    .default-404-content {
      min-height: calc(100vh - 132px - var(--header-height) - var(--footer-height));
    }
  }
}

.single-content-article blockquote.wp-block-quote.is-large {
  margin: 1.5em 0;
}

.single-content-article .wp-block-image .alignleft {
  margin-right: 1.5em;
  margin-bottom: 0;
}

.single-content-article .wp-block-image .alignright {
  margin-left: 1.5em;
  margin-bottom: 0;
}

.wp-block-columns.has-2-columns.col-6-4 .wp-block-column:first-child {
  @include flex-basis(61%);
}


.has-drop-cap:not(:focus):first-letter {
  font-size: 4em;
  margin-top: 0.2em;
  margin-right: .2em;
}

@media(min-width: 960px) {
  .wp-block-cover.custom-cover-block {
    min-height: 640px;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.lastudio-portfolio {
  &.preset-list-type-1 {
    .lastudio-arrow {
      width: 50px;
      height: 50px;
      top: calc(100% - 100px);
      background: #fff;
      color: $secondary-color;
      border-radius: 0;
      left: calc(35% + 50px);
      margin-top: 0;
      right: auto;

      &:hover {
        background-color: $secondary-color;
        color: #fff;
      }

      &.next-arrow {
        margin-left: 60px;
      }
    }
  }
}


.has-mgana-theme-primary-color {
  color: $primary-color
}

.has-mgana-theme-secondary-color {
  color: $secondary-color
}

.has-strong-magenta-color {
  color: #a156b4
}

.has-light-grayish-magenta-color {
  color: #d0a5db
}

.has-very-light-gray-color {
  color: #eee
}

.has-very-dark-gray-color {
  color: #444
}

.has-mgana-theme-primary-background-color {
  background-color: $primary-color
}

.has-mgana-theme-secondary-background-color {
  background-color: $secondary-color
}

.has-strong-magenta-background-color {
  background-color: #a156b4
}

.has-light-grayish-magenta-background-color {
  background-color: #d0a5db
}

.has-very-light-gray-background-color {
  background-color: #eee
}

.has-very-dark-gray-background-color {
  background-color: #444
}


.lastudio-posts .format-embed .la-media-wrapper {
  .mejs-container {
    margin-bottom: 0;
  }

  .mejs-playpause-button {
    width: 56px;
    height: 56px;
    line-height: 56px;
    margin-top: -8px;
    position: relative;

    button {
      background-color: #fff;
      width: 100%;
      height: 100%;
      margin: 0;
      line-height: 1;

      &:after {
        content: "\ea45";
        font-family: 'LaStudioIcons';
        speak: none;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #212121;
        font-size: 20px;
      }

      &:hover {
        &:after {
          color: #EACC2B;
        }
      }
    }

    &.mejs-pause {
      button:after {
        content: '\f04c';
        font-family: FontAwesome;
      }
    }
  }

  .mejs-controls {
    padding: 0 20px 0 30px;
    @media(max-width: 767px) {
      padding: 0 20px;
    }

    .mejs-time-rail .mejs-time-current {
      background: #EACC2B;
    }
  }

  .mejs-time {
    position: absolute;
    bottom: -20px;
    right: 108px;
    padding-top: 0;
    line-height: 1;
  }

  .mejs-time-rail {
    margin-left: 15px;
  }

  .mejs-time.mejs-currenttime-container {
    right: 150px;
  }
}

.job_listings.is-externalsearch .load_more_jobs,
.job_listings.is-externalsearch ul.job_listings {
  display: none;
}


.lastudio-posts__inner-content .entry-excerpt p {
  margin-bottom: 0;
}

.site-content .entry {
  ul,
  dl,
  ol {
    li {
      margin-bottom: 8px;
    }

    ol,
    ul {
      margin-top: 8px;
    }
  }
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p,
.wp-block-pullquote p {
  font-size: 18px;
}

.wp-block-latest-posts.is-grid {
  margin-left: 0;
}

.wp-block-gallery {
  display: flex;
  margin-bottom: 20px;
}

@media(max-width: 767px) {
  .wc-toolbar-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-top: 10px;
  }
  .wc-toolbar-top {
    margin-bottom: 0;
  }
}

.logo-partners {
  .lastudio-images-layout__image,
  .lastudio-carousel__item {
    opacity: .5;
    transition: all .25s ease-out;

    &:hover {
      opacity: 1;
    }
  }
}


@media(max-width: $screen-sm-max) {
  .lastudio_bullets.vertical.nav-pos-hor-right {
    margin-right: -50px;
  }
}

@media(max-width: $screen-xs-max) {
  .lastudio_bullets.vertical.nav-pos-hor-right {
    margin-right: -60px;

    .tp-bullet {
      width: 10px !important;
      height: 10px !important;

      &.selected {
        &:after,
        &:before {
          transform: scale(.6) !important;
        }
      }
    }
  }
}

.vertical-text {
  @include justify-content(center);
  white-space: pre;

  span {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;

    .rtl {
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
    }
  }
}

.header-type-vertical--toggle {
  .lahb-vertical {
    .bg_veritcal_menu_item {
      width: 100%;
      font-size: 32px;
      letter-spacing: 2px;
      line-height: 1.5;
      margin-bottom: 20px;
      @include justify-content(flex-start);

      a {
        position: relative;
        z-index: 2;

        span {
          &:after {
            content: '';
            border-top: 2px solid;
            display: block;
            transition: width .3s;
            width: 0;
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: inherit;
        background-image: none;
        transition: all .3s;
        pointer-events: none;
        z-index: 0;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: all .3s;
        pointer-events: none;
        z-index: 1;
      }

      &.active,
      &:hover {
        &:after {
          opacity: 1;
        }

        a span:after {
          width: 80px;
        }
      }
    }

    .lahb-voverlay {
      position: absolute;
      background-color: #000;
      opacity: .4;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      pointer-events: none;
    }

    .lahb-col:not(:hover) .bg_veritcal_menu_item:nth-child(2) {
      &:after {
        opacity: 1;
      }

      a span:after {
        width: 80px;
      }
    }
  }
}

.lahb-desktop-view.lahb-varea .header_vertical_inline .lahb-content-wrap .lahb-col__left {
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-content(flex-start);
  > .lahb-logo{
    @include flex(0 0 100%);
  }
}

.lahb-vertital-menu_nav .menu > li.menu-item > a .text-wrap{
  margin: auto;
}

.wc-tab {
  .brand-row {
    .brand-img {
      width: 30%;
      float: left;
      margin-right: 30px;
      margin-top: .5em;
      margin-bottom: 1em;
    }
    p:not(:last-child){
      margin-bottom: 20px;
    }
  }
}

ul.list-unstyled {
  list-style: none;
  margin: 0;
}

@media(max-width: 767px) {
  .wc-tab .brand-row .brand-desc,
  .wc-tab .brand-row .brand-img {
    width: 100%;
  }
}


.wp-block-pullquote blockquote {
  border-left-width: 0;
}



.page-links .post-page-numbers {
  width: 30px;
  display: inline-block;
  text-align: center;
  background-color: #f9f9f9;
}

.page-links .post-page-numbers:hover,
.page-links span.post-page-numbers {
  background-color: #1d1d1d;
  color: #fff;
}

.search-results div#blog-entries .post-thumbnail {
  display: none;
}

.lastudio-posts.blog__entries .loop__item.sticky .lastudio-posts__inner-box {
  background-color: #F9F9F9;
  padding: 30px;
  border: none;
}

.default-header .lahb-nav-wrap .menu ul li.menu-item a {
  padding: 5px 20px;
}

.default-header .lahb-nav-wrap .menu > li.menu-item > ul {
  margin-top: 30px;
  right: 0;
}

.default-header .lahb-nav-wrap .menu > li.menu-item:hover > ul {
  margin-top: 20px;
}

.single-page-article .comments-area {
  margin-top: 4em;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.woocommerce-Reviews p.woocommerce-noreviews {
  margin-bottom: 30px;
}

.single-post-article > .post-meta ~ .post-meta {
  color: #505050;
  font-style: italic;
  font-size: 12px;
}

.lahb-wrap.default-header .lahb-desktop-view .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 1400px) {
  .lahb-wrap.default-header .lahb-desktop-view .container {
    width: 100%;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  body.body-col-1c.page-use-gutenberg:not(.woocommerce-page):not(.enable-main-fullwidth):not(.enable-small-layout) .single-page-article .alignwide,
  body.body-col-1c.page-use-gutenberg:not(.woocommerce-page):not(.enable-main-fullwidth):not(.enable-small-layout) .single-post-article .alignwide {
    margin-left: -65px;
    margin-right: -65px;
  }
  body.body-col-1c.page-use-gutenberg:not(.woocommerce-page):not(.enable-main-fullwidth) .single-page-article .alignwide,
  body.body-col-1c.page-use-gutenberg:not(.woocommerce-page):not(.enable-main-fullwidth) .single-post-article .alignwide {
    max-width: 100vw;
  }
}

@media(min-width: 992px) {
  body {
    overflow-x: hidden;
  }
}

.default-header .lahb-nav-wrap .menu > li.menu-item-has-children {
  position: relative;
}

.la-woo-thumbs .la-thumb-inner {
  position: relative;
}

.product--summary .group_table {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .wc-tab .wc-tab-title a {
    text-transform: none;
    font-weight: bold;
    font-size: 20px;
  }
}

article.not-found-search {
  font-size: 16px;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 40vh;
  margin-top: 5vh;
}

article.not-found-search .entry.not-found-search {
  margin-bottom: 20px;
}

table.shop_table {
  border: none;
}

table.shop_table th,
table.shop_table td {
  border-right: 0;
}

.wp-block-spacer {
  clear: both;
}

ul.wp-block-gallery li.blocks-gallery-item {
  margin-bottom: 16px;
}

.entry > *.alignleft {
  margin-right: 1.5em;
}

.entry > *.alignright {
  margin-left: 1.5em;
}

.page-use-gutenberg .single-content-article > .entry a br {
  display: none;
}

.wp-block-cover, .wp-block-cover-image {
  margin: 0 0 1.5em;
}

.wp-block-archives.wp-block-archives-dropdown {
  display: inline-block;
  margin-bottom: 1em;
}

.entry > .wp-caption.alignleft {
  margin-right: .9em;
}

.entry > .wp-caption.aligncenter img[class*="wp-image-"] {
  margin-left: auto;
  margin-right: auto;
}

.entry .post-password-form label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: bottom;
  margin-right: 6px;
  max-width: calc(100% - 110px);
}

.entry .post-password-form input[type="submit"] {
  padding: 14px 30px;
  vertical-align: middle;
  line-height: 22px;
}

.entry .post-password-form label input {
  height: 50px;
  margin-top: 5px;
  display: inline-block;
}

.backtotop-container {
  .btn-backtotop {
    display: inline-block;
    position: fixed;
    bottom: 90px;
    text-align: center;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: none;
  }

  &.show {
    .btn-backtotop {
      visibility: visible;
      opacity: 1;
    }
  }
}

.rtl {
  .backtotop-container {
    .btn-backtotop {
      left: 0;
    }

    &.show {
      .btn-backtotop {
        left: 50px;
      }
    }
  }
}

.ltr {
  .backtotop-container {
    .btn-backtotop {
      right: 0;
    }

    &.show {
      .btn-backtotop {
        right: 50px;
      }
    }
  }
}

.enable-header-sticky .wc-toolbar-container,
.enable-header-sticky .lastudio-tabs .lastudio-tabs__control-wrapper {
  top: var(--header-height);
}


.m8-category-slides {
  .lastudio-carousel__item-inner{
    text-align: center;
  }
  .lastudio-carousel__item-link{
    display: inline-block;
    @include display();
    @include justify-content(center);
    @include align-items(center);
    width: 132px;
    height: 132px;
    margin: 0 auto;
    border-radius: 50%;
    transition: all .5s;
    background-color: transparent;
  }
  .lastudio-carousel__image {
    width: 70px;
  }

  .lastudio-carousel__item-inner:hover {
    .lastudio-carousel__item-link {
      background-color: $primary-color;
    }
  }
}

@media(min-width: 1200px) {
  //.mgana-is-blog:not(.header-v-default) { */
  .mgana-is-blog{
    #sidebar_primary {
      width: 295px;
    }
    &.body-col-2cr,
    &.body-col-2cl {
      &:not(.enable-main-fullwidth) {
        .content-area {
          width: 790px;
          max-width: calc(100% - 300px);
        }
        .sidebar-secondary + .content-area {
          float: right;
        }
      }
    }
  }
}


.entry > p {
  margin-bottom: 20px;
}

blockquote.wp-block-quote.mgana-quote {
  background-color: #F9F9F9;
  border-width: 0;
  text-align: center;
  padding: 40px;
  margin: 40px 0;
}

blockquote.wp-block-quote.mgana-quote:before {
  content: '\ea7a';
  font-family: LaStudioIcons;
  font-size: 30px;
  line-height: 1;
}

blockquote.wp-block-quote.mgana-quote p {
  font-size: 26px;
  color: #3E3E3E;
  line-height: 1.7;
  font-family: var(--theme-heading-font-family);
  letter-spacing: 3px;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
}

blockquote.wp-block-quote.mgana-quote cite {
  font-family: var(--theme-heading-font-family);
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}

blockquote.wp-block-quote.mgana-quote cite:before {
  content: '';
  width: 50px;
  border-top: 2px solid #D8D8D8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}


.product--summary .swatch-wrapper.la-swatch-item-style-circle:not(.swatch-only-label) {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  padding: 0;
}
.product--summary .swatch-wrapper.la-swatch-item-style-circle:not(.swatch-only-label).selected:before {
  font-size: 14px;
}
.product--summary .variations_form #picker_pa_brand .swatch-wrapper.la-swatch-item-style-default {
  padding: 0;
}
.product--summary .variations_form #picker_pa_brand .swatch-wrapper.la-swatch-item-style-default .swatch-anchor {
  width: 100% !important;
  height: auto !important;
}
.product--summary .variations select {
  border-width: 0 0 1px;
  padding-left: 0;
  height: 30px;
  padding-right: 5px;
}
.product--summary .la-init-swatches .variations td.label {
  padding-top: 5px;
}
.product--summary .la-init-swatches .variations #picker_pa_color {
  padding-top: 5px;
  margin-bottom: 5px;
}


.header-v-default {
  .lahb-nav-wrap {
    .menu {
      ul {
        width: 220px;
        font-size: 14px;

        ul {
          left: auto;
          right: 100%;
        }
      }

      > li.menu-item {
        > a {
          padding: 0 15px;
          font-family: $heading-font-family;
          font-weight: normal;
          text-transform: uppercase;
          font-size: 16px;
          position: relative;
          &:not(.hcolorf){
            &:after{
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              top: 2.1em;
              width: 20%;
              border-bottom: 2px solid;
              z-index: 1;
              opacity: 0;
              transition: width 0.5s ease, opacity 0.3s ease;
            }
          }
        }
        &:hover,
        &.current{
          > a{
            &:not(.hcolorf){
              &:after{
                width: calc(100% - 30px) !important;
                opacity: 1;
              }
            }
          }
        }

        ul {
          padding: 20px 0;
        }
      }
    }
  }

  .post-thumbnail .post-date{
    display: none;
  }

  .single-post-article > .post-thumbnail a,
  .lastudio-posts .post-thumbnail a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .single-post-article > .post-thumbnail img,
  .lastudio-posts .post-thumbnail img {
    width: auto;
    margin-left: 0;
  }

  .product--summary .product-nextprev {
    display: none;
  }

  .site-breadcrumbs {
    font-size: 12px;
  }

  .site-breadcrumbs .breadcrumb-sep {
    margin: 0 5px;
  }

  //.widget-title{
  //  letter-spacing: 2px;
  //  text-transform: uppercase;
  //  font-weight: normal;
  //}
  .sidebar-box{
    &:not(.accordion-menu) {
      font-size: 14px;
    }
    ul.menu{
      font-family: $heading-font-family;
    }
  }
  .section-page-header{
    text-align: center;
    background-color: #2c2c2c;
    color: #fff;
    .page-title{
      color: #fff;
      font-size: 22px;
      @media (min-width: 576px){
        font-size: 24px;
      }
      @media (min-width: 1280px){
        font-size: 28px;
      }
    }
    a{
      color: #b5b5b5;
      &:hover{
        color: #fff;
      }
    }
  }
  .lahb-desktop-view{
    .lahb-row1-area{
      height: 130px;
    }
  }

  &.single-post .entry-title-single {
    display: none;
  }

  &.single-post .post-meta--top {
    margin-bottom: 20px;
  }

  .custom-product-wrap .block_heading--title{
    text-transform: none;
    margin-bottom: 30px;
  }
}

.entry-footer:empty {
  display: none;
}

#sidebar_primary .calendar_wrap{
  padding-top: 10px;
}
#sidebar_primary select {
  margin-top: 10px;
}

#sidebar_primary .tagcloud {
  padding-top: 5px;
}
@media(min-width: 1200px){
  .lastudio-posts.preset-list-1 .entry-title{
    font-size: 28px;
  }
}

.la-woo-product-gallery .woocommerce-product-gallery__actions a {
  line-height: 45px;
}