.elementor-widget-woocommerce-checkout-page.vamtam-has-theme-widget-styles {
	.woocommerce #customer_details {
		.col-1 {
			margin-bottom: 0;
		}

		.form-row:is(.form-row-first, .form-row-last).validate-required {
			margin-left: 0;
			margin-right: 0;
			padding: 0;
		}
	}

	.col-2 h3#ship-to-different-address {
		margin-top: 0;
	}
}