// Post Navigation.
.elementor-widget-post-navigation {
	// Base Theme Widget Styles.
	&.vamtam-has-theme-widget-styles {
		.post-navigation__next--label,
		.post-navigation__next--title,
		.post-navigation__prev--label,
		.post-navigation__prev--title {
			white-space: normal;
			overflow: visible;
		}

		.post-navigation__prev--label,
		.post-navigation__next--label {
			margin-bottom: 0.3em;
		}
	}
}