// Toggle.
.elementor-widget-toggle {
	// Base Theme Widget Styles.
	&.vamtam-has-theme-widget-styles {
		.elementor-tab-title {
			transition: all .3s, border-bottom-width 0s 0.4s;
		}

		&.vamtam-center-align-toggle .elementor-toggle-item .elementor-tab-title {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
