.ares.tp-bullets{
	top: 50% !important;
	#{$left}:50px !important;
}
.ares .tp-bullet{
	height: 19px;
	width: 19px;
	opacity: 0.5;
	background:#fff;
	.tp-bullet-title{
		display: none;
	}
	&:hover,
	&.selected{
		opacity: 1;
		background:$primary_color;
	}
}
.rev-btn.button-slide1{
	background:$primary_color !important;
	&:hover{
		background: #fff !important;
	}
}
#main{
  background: #fff;
}
.tt-instagram{
	.uvc-sub-heading > a{
		color: $primary_color;
		&:hover{
			color: #000;
		}
	}
}
.gallery_paginations {
	ul{
		padding-#{$left}:0;
		list-style-type:none;
	}
}
.icon_box_content{
	overflow: hidden;
	margin-bottom: 20px;
	&.type_2{
		margin-bottom: 28px; 
		&:hover{
			.icon_box_title h3{
				color: $primary_color;
			}
		}
		.icon_box{
			float: none;
			margin-#{$right}: 0;
			margin-bottom: 26px;
			i{
				display: block;
				line-height: 66px;
			}
		}
		.icon_box_desc {
		  padding-top: 4px;
		  p{
		  	font-size: 16px;
		  }
		}
		.icon_box_title h3{
			margin: side-values(10px 0);
		}
	}
	&:hover{
		.icon_box_title h3{
			color: $primary_color;
		}
	}
	&.text-right{
		.icon_box{
			float: $right;
		    margin-#{$right}: 6px;
		    margin-#{$left}: 21px;			
		}
	}
	&.type_1.icon_box_3{
		margin-bottom: 24.5px;
		.icon_box {
		    position: relative;
		    display: inline-block;
		    height: 67px;
		    width: 67px;
		    color: #d19f68;
		    margin-#{$right}: 31px;
		    margin-#{$left}: 0;
		    padding-top: 4px;
		    > i{
		    	font-size: 27px;
		    }
		}	
		&.text-right{
			.icon_box{
				margin-#{$right}: 0;
			    margin-#{$left}: 31px;			
			}
		}
		&.text-left{
			.icon_box:after {
			    border-#{$left}: 1px solid #ebebeb;
			    #{$right}: -5px;
			    #{$left}: auto;
			}
			.icon_box:before {
			    border-#{$right}: 1px solid #ebebeb;
			    #{$right}: -5px;
			    #{$left}: auto;
			}			
		}	
		.icon_box_desc {
		    float: $left;
		    width: calc(100% - 98px);
		    margin-top: 3px;
		    padding-top: 0;
		}
		.icon_box_title h3 {
			margin-top: -1.6px;
		    font-size: 18px;
		    font-weight: 500;			
		}
	}
}
.icon_box{
	position: relative;
	display: inline-block;
	float: $left;
	height: 65px;
	width: 65px;
	text-align: center;
	line-height: 66px;
	border:1px solid #ebebeb;
	color: $primary_color;
	margin-#{$right}: 21px;
	margin-#{$left}:6px; 
	&:before{
		height: 100%;
		width: 5px;
		content: "";
		position: absolute;
		top: 5px;
		border-#{$left}: 1px solid #ebebeb;
		border-top: 1px solid #ebebeb;
		#{$left}:-5px;
	}
	&:after{
		height: 5px;
		width: 100%;
		content: "";
		position: absolute;
		border-#{$right}: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		bottom: -5px;
		#{$left}:-5px;
	}
}
.icon_box_title{
	overflow: hidden;
	h3{
		margin: side-values(7px 0 10px);
		text-transform: uppercase;
		color: #010101;
		font-size: 19px;
	}
	h4{
		font-size: 20px;
		color: $primary_color;
	}
}
.icon_box_desc {
	float: $left;
	padding-top: 21px;
	p{
		color: #555;
		font-size: 15px;
		font-family: Open Sans;
	}
}
//Member
.member-info{
	background: url("../images/bg-member.png");
	background-size: 100%;
	padding:side-values(40px 20px);
	position: relative;
	margin-top: -40px;
	.member-job{
		text-transform: uppercase;
		color: $primary_color;
		font-size: 14px;
		font-family: Oswald;
		font-weight: 300;
		p{
			margin-bottom: 4px;
		}
	}
	.member-name{
		h5{
			color: #fff;
			font-weight: bold;
			font-family: Open Sans;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
	}
	.link-text a{
		color: #fff;
		font-size: 16px;
		&:hover{
			color: $primary_color;
			text-decoration: underline;
		}

	}
}
.member-img{
	img{
		filter:grayscale(100%);
		-ms-filter:grayscale(100%);
		-moz-filter:grayscale(100%);
		-webkit-filter:grayscale(100%);
		-o-filter:grayscale(100%);
	}
}
.member-type1.style-2 {
	.item-member-content{
		position: relative;
	}
	
}
.member-bg{
	.style-2 .member-info{
		background: #f5f5f5;
	}
	.style-2 .item-member-content:hover .member-info{
		background:$primary_color !important;
	}
}
.slick-slide{
	.member-type1.style-2 {
		.item-member-content{
			padding-bottom: 10px;
		}
		
	}
	.style-2 .member-info{
		padding:side-values(23px 20px 35px);
	}
}
.style-2 .item-member-content:hover .member-info .member-job{
	color: #fff;
}
.member-type2{
	.member-image {
	  margin-top: 48px;
	  background-size: cover;
      background-repeat: no-repeat;
	}
	.member-content {
	  	position: relative;
	  	padding: side-values(15px);
		background: #f5f5f5;
	}
	.member-desc {
		h2 {
		  font-weight: 700;
		  color: $primary_color;
		  margin-bottom: 14px;
		  font-size: 32px;
		  line-height: 28px;
		  text-transform: uppercase;
		  span{
		  	color: #000000;
		  	font-size: 22px;
		  	width: 100%;
		  	display: block;
		  	font-weight: 400;
		  }
		}
		p{
			margin-bottom: 26px;
			line-height: 25px;
		}
		.italic{
		  font-style: italic;
		  font-size: 16px;
		}
	} 
	.book-now {
	  padding-top: 13px;
	  	.btn{
		  min-width: 290px;
		}
	}
	.img-list {
		margin: side-values(0 -3px);
		margin-#{$left}: -13px;
		width: 84%;
		&:hover{
			.btn-next{
			  	opacity: 1;
			  	#{$left}: -13px;
			}
			.btn-prev{
			  	opacity: 1;
			  	#{$right}: -13px;
			}
		}
		a{
			display: inline-block;
			margin: side-values(0) !important;
			padding: side-values(0 3px);
		}
	}
	.link-text {
	  float: $right;
	  @include transform(translateX(-17px));
	}
	.btn-next{
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border: 1px solid $primary_color;
	  color: $primary_color;
	  height: 30px;
	  #{$left}: 0;
	  padding: side-values(0);
	  position: absolute;
	  top: 50%;
	  z-index: 9;
	  @include transform(translateY(-50%));
	  width: 30px;
	  opacity: 0;
	  @include transitions (all 0.3s ease-in-out 0s);
	}
	.btn-prev{
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border: 1px solid $primary_color;
	  color: $primary_color;
	  height: 30px;
	  #{$right}: 0;
	  padding: side-values(0);
	  position: absolute;
	  top: 50%;
	  z-index: 9;
	  @include transform(translateY(-50%));
	  width: 30px;
	  @include transitions (all 0.3s ease-in-out 0s);
	  opacity: 0;
	}
	.link-text {
		a {
		  font-family: Oswald;
		  font-size: 14px;
		  color: $primary_color;
		  text-transform: uppercase;
		  &:hover{
		  	color: #000;
		  }
		}
	} 
}
.title-member {
	position: absolute;
    top: 50%;
	h2 {
	  color: #000;
	  font-weight: 700;
	  letter-spacing: 2px;
	  opacity: 0.2;
	  text-transform: uppercase;
	}
} 
.overflow-initial {
  overflow: initial;
}
.style-2{
	.item-member-content:hover{
		.member-info {
			background: $primary_color !important;
			.link-text a, .member-job p {
			  color: #fff;
			}
		}
	}
	.member-img img {
	  filter: none;
	}
	.member-info {
	  background: #fff none repeat scroll 0 0;
	  bottom: -10px;
	  margin-top: 0;
	  position: absolute;
	  #{$right}: -10px;
	  width: 83%;
	  padding: side-values(23px 20px 25px);
	  z-index: 9;
	  @include transitions(all 0.3s ease-in-out 0s);
	  	.member-name h5 {
		  color: #000;
		}
		.link-text a {
		  color: #555;
		  font-style: italic;
		  &:hover{
		  	color: $primary_color;
		  }
		}
	}
}

.ult-carousel-wrapper ul.slick-dots{
	padding-top: 33px;
}
.ult-carousel-wrapper .slick-dots li {
	height: 4px;
	width: 15px;
	background: rgba(255,255,255,0.2);
	i{
		opacity: 1;
		&:before{
			content: none !important;
		}
	}
	&.slick-active{
		background: $primary_color;
	}
}

// Testimonials
.item_testimonial.type_2{
	width: 95%;
	.caption_testimonial{
		padding-top: 79px;
		&:before{
			color: #fff;
			top: 20px;
		}
		 .tes_name h4{
		 	padding:side-values( 7px 0) ;
		 }
	}
}	 
.item_testimonial.text-center{
	width: 80%;
	margin: side-values(0 auto);
	padding: side-values(0 30px);
}
.box-testimonials,
.form-order{
		.vc_column-inner{
			background-size: cover !important;
		}
	}
.caption_testimonial{
	position: relative;
	&:before{
		content: "\f10e";
		font-family: FontAwesome;
		font-size: 70px;
		position: absolute;
		color: rgba(255,255,255,0.1);
		top:15px;
		#{$left}:50%;
		@include transform (translateX($translateX));
	}
	.title-testimonial{
		text-transform: uppercase;
		h6{
			font-size: 12px;
			font-weight: 300;
			color: #fff; 
			display: inline-block;
			position: relative;
			letter-spacing: 0.4em;
		}
		h2{
			font-size:39px;
			color: $primary_color; 
			letter-spacing: -0.4px;
			line-height: 36px;
			padding: side-values(12px 0 34px);
		}
	}
	.item-desc{
		font-size: 16px;
		font-style: italic;
		color: #fff;
		line-height: 26px;
	}
	.tes_name{
		h4{
			font-size: 13px;
			padding-top: 10px;
			text-transform: uppercase;
			color: $primary_color;
		}	
	}
}
.remove_space .footer {
    padding-top: 0;
}
.box-text{
	.box-title{
		text-transform: uppercase;
		h4{
			font-size: 35px;
			line-height: 100%;
			font-weight: 300;
		}
		p{
			font-size: 75px;
			font-weight: bold;
			font-family: Oswald;
			color: #000;
			margin-top: 8px;
			line-height: 100%;
			margin-#{$left}:-4px; 
		}
	}
	.box-desc{
		padding:side-values(39px 0 49px);
		p{
			letter-spacing: 0.25px;
			margin-bottom: 24px;
		}
	}
	&.type1 img{
		padding-bottom: 286px
	}
}
.text-space{
	font-size: 294px;
	color:rgba(0,0,0,0.05);
	text-transform: uppercase;
	position: absolute;
	#{$left}:110px;
	top: -43px;
	font-weight: bold;
	letter-spacing: 0.31em;
	font-family: Oswald;
	z-index: 99;
	&.hidden-sm{
		#{$left}: 84px;
	}
}
.bg-overlay{
	figure{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			#{$left}:0;
			width: 100%;
			height: 100%;
			background: $primary_color;
			opacity: 0.8;
		}
	}
}
.slick-slider{
	position: relative;
}
.slick-prev{
	#{$left}: -43px !important;
	margin-top: -15px !important;
	i:before{
		content: "\e910";
		font-family: 'barberfont' !important;
	    font-size: 30px;
	}
}
.slick-next{
	#{$right}: -43px !important;
	margin-top: -15px !important;
	i:before{
	    content: "\e911";
	    font-family: 'barberfont' !important;
	    font-size: 30px;
	}
}
.slick-next,.slick-prev{
	height: 40px !important;
	width: 45px !important;
	color: #7a7b7c !important;
	z-index: 9;
	@include transitions (all 0.3s ease-in-out 0s);
	&:hover{
		color: $primary_color !important;
	}
}
.slick-slide .product-content img {
    display: inline-block;
}
.btn-slide-color{
	.slick-next, .slick-prev {
		color: #282828 !important;
		&:hover{
		    color: #fff !important;
		    opacity: 0.6;
		}
	}
}
.tt-heading-porfolio{
	.baber-heading{
		padding-bottom: 26px;
	}
}
/*.remove_space .side-breadcrumb{
	margin-bottom: 0;
}*/
.block-service-right > .vc_column-inner {
	padding-#{$left}:52px !important;
	padding-#{$right}:100px !important;
}
.block-service-right .baber-heading{
	width: 80%;
}	 		
.box-services{
	.icon-box-container {
		width: 45%;
		display: inline-block;
		float: $left;
		padding-#{$right}: 110px;
	}
}
.pos-bg1.vc_row{
	background-position: top $right !important;
}
.service-h1.vc_row{
	background-position: -16.7% 0 !important;
}
.button-group{
	>.inline-block:first-of-type{
		&:before{
			display: none;
		}
	}
}
.bg-overlay {
	.button-group .btn-filter{
		color: #fff;
		&.is-checked,&:hover{
			color: $primary_color;
		}
	}
	.button-group .inline-block:before{
		background: #fff !important;
	}
}
.box-pricing-h1{
	.pricing-content.style1{
		width: 33.33%;
		float: $left;
	}
}
.ult-carousel-wrapper.slide-testimonial ul.slick-dots {
    padding-top: 24px;
}
.box-pricing-tt{
	padding:side-values(27px 0 0);
	background: rgba(1,1,1,0.2);
	position: relative;
	z-index: 9;
	ul{
		list-style: none;
		padding-#{$left}: 0;
	}
	h2{
		font-size: 35px;
		font-weight: 300;
		color: $primary_color;
		text-transform: uppercase;
		margin-bottom: 35px;
		padding-#{$left}: 34px;
	}
	h4{
		font-size: 26px;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		padding-#{$left}: 34px;
		margin-bottom: 23px;
	}
	ul{
		li{
			font-size: 16px;
			color: #fff;
			padding:side-values(9px 34px 18px);
			&:nth-child(2n+1){
				background: rgba(0,0,0,0.2);
			}
		}
	}
}
.box-order{
	z-index: 9;
	position: relative;
	.info-time{
		display: inline-block;
		float: $left;
		font-weight: bold;
		font-size: 26px;
		color: #fff;
		font-family: Oswald;
		margin-top: 13px;
		span{
			text-transform: uppercase;
			font-weight: 400;
			margin-#{$right}:37px;
		}
	}
	.info-book{
		display: inline-block;
		float: $right;
	}
}
.bg-abs-top2{
	position: absolute;
	top: -509px;
	#{$left}:0;
}
.bg-abs-top3{
	position: absolute;
	top: -224px;
	#{$left}:0;
}
.bg-abs-top{
	position: absolute;
	top: -83px;
	#{$right}:-9px;
}
.bg-abs-top4{
	position: absolute;
	top: -106px;
	#{$right}:0px;
}
.bg-abs-top5{
	position: absolute;
	bottom: -63px;
	#{$right}:0px;
	margin-bottom: 0 !important;
}
.bg-abs-top6{
	position: absolute;
	bottom: 50px;
	#{$right}:60px;
	margin-bottom: 0 !important;
}
.apr_book_form{
    width: 82%;
    margin: side-values(0 auto);
    background: none;
    border: none;
    box-shadow: none;
    text-align: center;
    padding-bottom: 100px;
    .table-width{
    	height: 50px;
    	font-size: 14px;
    	border-color: #ebebeb;
    	padding: side-values(13px 21px) !important;
    }
    .form-group{
    	select{
    		position: relative;
    		background: #fff url(../images/caret-down.png) no-repeat $right center;
    	}
    }
    .select-time{
    	background: #fff url(../images/caret-down.png) no-repeat $right center;
    }
    .panel-body{
    	padding: side-values(0);
    	position: relative;
    }
    .form-group {
	    margin-bottom: 20px;
	}
	#displaymessage{
		position: absolute;
		bottom: -45px;
		width: 100%;
	}
}
.main-color .uvc-heading h2{
 	color: $primary_color !important;
}
#btn_appointment{
	width: 292px;
	border-color: $primary_color;
	padding:side-values(14px 64px 14px 32px);
	background: $primary_color url(../images/icon-right.png) no-repeat 82.8% -22px;
	&:hover,&:active,&:focus{
		border-color: #000;
		background: #000 url(../images/icon-right.png) no-repeat  82.8% 22px;
	}
}
.box-scheduce{
	.ult-content-box {
		position: relative;
		padding: side-values(103px 70px 69px 70px);
		text-align: center;
		&:before{
			content: "";
			height:100%;
			background:$primary_color;
			opacity: 0.7;
			position: absolute;
			#{$left}:0;
			top: 0;
			width: 100%;
		}
	}
}
.remove_space_br .side-breadcrumb{
	margin-bottom: 0;
}
.box-scheduce-content{
	position: relative;
	h3{
		font-size: 32px;
		text-transform: uppercase;
		color: #010101;
		margin-bottom: 26px;
	}
	.btn{
		padding:side-values(15px 26px);
	}
	.list-items-time {
		margin-bottom: 36px;
		margin-#{$right}: 27px;
		padding-#{$left}:0;
		list-style-type:none;
		li {
			padding: side-values(15px 0 30px);
			border-bottom:3px dotted #fff;
			font-size: 24px;
			color: #fff;
			text-align: $right;
			&:first-child{
				padding-top:0;
			}
			&:last-child{
				padding-bottom: 0;
				border-bottom: none;
				padding-#{$right}:74px;
			}
			span{
				font-weight: 400;
				float: $left;
			}
		}
	}
}
.box-text.type2{
	padding-#{$right}: 50px;
	.box-desc {
		padding-bottom: 26px;
		p{
			margin-bottom: 26px;
			line-height: 26px;
			font-size: 16px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.book-h7{
	margin-top:-1px;
}
.box-pricing-h7{
	.ult-content-box{
		.pricing-content{
			width: 25%;
			display: inline-block;
			float: $left;
		}
	}
	.btn.btn-black{
		padding: side-values(14px 42px);
	}
	.pricing-content.style2 {
		.pricing-title h3 {
		  font-size: 22px;
		  letter-spacing: -0.5px;
		  padding-top:17px;
		}
		.sup{
			top:-9px;
		}
		.price-box {
		  padding-bottom: 20px;
		}
		.price-center{
			font-size: 32px;
			margin-top: -4px;
		}
	}
}
.box-text.type3{
	.box-title p{
		font-size: 76px;
		letter-spacing: -4px;
	}
	.box-desc {
		padding: side-values(32px 0 18px);
		p{
			letter-spacing: 0;
			font-size: 16px;
			font-style: italic;
		}
	}
}
.padding-15{
	padding:side-values(0 15px);
}
.box-text.type-4{
	margin-#{$left}: 207px;
	.box-title{
		h4{
			letter-spacing: -0.8px;
			font-size: 37px;
		}
		p{
			font-size: 76px;
			margin-top: 6px;
			margin-#{$left}: -4px;
		}
	}
	.box-desc{
		padding: side-values(42px 0 41px);
	}
	.btn.btn-primary{
		padding: side-values(14px 30px 14px 33px);
		color: #fff;
		letter-spacing: 0.4px;
		i{
			margin-#{$left}:12px;
		}
	}
}
.block-text{
	h2{
		display: inline-block;
		float: $left;
		margin-#{$right}:18px;
		color: $primary_color;
		opacity: 0.5;
		font-size: 70px;
		font-family: Montserrat;
		font-weight: bold;
	}
	.text-content{
		overflow: hidden;
		padding-top: 42px;
		h3{
			font-size: 19px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #010101;
			margin-bottom: 23px;
		}
		p{
			font-size: 15px;
			color: #555;
		}
	}
	&:hover{
		.text-content{
			h3{
				color: $primary_color;
			}
		}
	}
}
.contact_heading.baber-heading.text-center .desc-title {
    margin-top: 22px;
}
.contact-form2{
    max-width: 780px;
    margin: side-values(0 auto);	
    margin-top: 0;
	input[type="email"], input[type="text"], input[type="tel"],textarea{
		background: transparent;
	}
	.no-full{
		float: $left;
    	width: 50%;
    	display: inline-block;
        margin-bottom: 10px;
        clear: none;	
	}
	textarea.wpcf7-form-control {
	    height: 130px;
	    margin-top: 10px;
	}
	> p{
		padding: side-values(0 15px);
		clear: both;
	}
	.btn-submit{
	    padding: side-values(0);
	    width: auto;
	    /* display: inline-block; */
	    margin: side-values(24px auto 0);
	    max-width: 190px;
	    position: relative;	
	    height: 50px;
	    &:after{
			font-family: FontAwesome;
		    content: "\f1d8";
		    position: absolute;
		    #{$right}: 57px;
		    color: #000;
		    font-size: 14px;
		    top: 14px;
	    }	
	    &:hover{
	    	&:after{
	    		color: #fff;
	    	}
		    input[type="submit"]{
		    	background: #000;
		    	color: #fff;
		    	border-color: #000;
		    }	    
	    }
	    input[type="submit"]{
	    	padding-#{$right}: 50px;
	    	background: #d19f68;
	    	border-color: #d19f68;
	    	color: #000;
	    }
	}
}
.list-item-box{
	padding-#{$left}:0;
	list-style-type:none;
	li{
		font-family: Open Sans;
		color: #282828;
		font-size: 20px;
		margin-bottom: 24px; 
		padding-#{$left}: 44px;
		position: relative;
		&:before{
			content: "\f06c";
			font-family: FontAwesome;
			font-size: 20px;
			color: $primary_color;
			position: absolute;
			#{$left}:0px;
			top: 3px;
		}
	}
}
.rev-btn{
	> i{
		margin-#{$left}: 20px;
	}
}
.btn-plus{
	margin: side-values(0 auto 40px);
    text-align: center;
    width: 49px;
    height: 49px;
    display: block;
    position: relative;
    &:before, &:after{
		background: #d19f68;   	
    }
    &:before{
	    width: 49px;
	    height: 2px;
	    content: "";
	    position: absolute;
	    #{$left}: 0;
	    top: 50%;     	
    }
    &:after{
	    width: 2px;
	    height: 49px;
	    content: "";
	    position: absolute;
	    #{$left}: 50%;    	
    }
}
.banner-type1.banner-type3{
	height: 450px;
	position: relative;
	overflow: hidden;
	width: 100.5%;
	.banner_style_3_title{
	    position: absolute;
	    bottom: -2px;
	    font-size: 35px;
	    text-transform: uppercase;
	    color: #fff;
	    font-weight: bold;	
	    #{$left}: 50%;
	    @include transform(translateX($translateX));	
	    @include transitions(all 0.3s ease-in); 
	    width: 100%;  	
	}
	&:hover{
		.banner_style_3_title{
			opacity: 0;
			visibility: hidden;
			@include transform(translateX($translateX) scale(1.5));
		}
	}
	.banner-title {
		padding-top: 7px;
		> p{
		    color: #fff;
		    font-size: 15px;			
		}
		h2 {
		    font-size: 35px;
		    font-weight: 700;
		    margin-bottom: 23px;
		    text-transform: uppercase;
		    color: #d19f68;
		}		
		h3{
			font-weight: 400;
		}
	}
	.btn-plus{
		display: block;
	}
	&.en_filterbw{
	    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
		filter:grayscale(100%);
		-ms-filter:grayscale(100%);
		-moz-filter:grayscale(100%);
		-webkit-filter:grayscale(100%);
		-o-filter:grayscale(100%);
	    &:hover{
	    filter: none;
	    -webkit-filter: none;     	
	    }
	}
}
.banner-type1.banner-type7{
	.banner-title{
		margin-top: -2px;
	    z-index: 4;
		h3 {
		    color: #fff;
		    font-size: 30px;
		    margin: 0 auto;
		    line-height: 37px;
		    max-width: 410px;
		    font-weight: 400;
		    text-transform: none;
		}
		h2 {
		    font-size: 18px;
		    font-weight: 300;
		    margin-bottom: 23px;
		    color: #fff;
		}		
	} 
	.banner-btn{
		margin-top: 25px;
	    z-index: 4;
	}
	&.en_overlay .banner-mid:before {
	    background: #000;
	}
	.banner-btn .btn {
	    min-width: 164px;
	    > i{
	    	display: none;
	    }
	}
	.banner-mid {
	    padding: 0 40px;
	}
	.banner-mid:after {
	    border: 1px solid rgba(255, 255, 255, 0.5);
	    bottom: 36px;
	    content: "";
	    left: 32px;
	    position: absolute;
	    right: 32px;
	    top: 36px;
	    opacity: 0;
	    @include transitions(all 0.3s ease);
	}
	&:hover .banner-mid:before {
	    opacity: 0.5;
	}		
}
.arrow_style2 .slick-default{
   > .slick-arrow {
      font-size: 15px;
      position: absolute;
      #{$left}: -40px;
      width: 40px;
      color: #000;
      height: 40px;
      z-index: 9;
      border: 1px solid #000;
      > i{
		    display: block;
		    margin-top: -2px;      	
      }
      &:hover{
      	border-color: #d19f68;
      }
  }
  > button.btn-next.slick-arrow {
       #{$left}: -39px;
  }
  button.btn-prev.slick-arrow {
       #{$left}: 0;
  }
  ~ .testimonial-container {
  	.item_testimonial3 .caption_testimonial .tes_name h4 {
	    padding-top: 14px;
	}
  }
} 
.banner-type1.banner-type8{
	height: 513px;
	.banner-mid {
	    display: block;
	    position: absolute !important;
	    width: 100%;
	    padding: 0 15px 30px;
	    bottom: 0;
	    height: auto;
		.banner-title {
		    position: relative;
		    opacity: 1;
		    -moz-transform: none;
		    -o-transform: none;
		    -ms-transform: none;
		    -webkit-transform: none;
		    transform: none;
		    h2{
		    	font-size: 30px;
			    font-weight: 400;
			    margin-bottom: 8px;
			    text-transform: none;
			    color: #fff;
			    line-height: 36px;
		    }
		    h3{
		    	font-size: 18px;
		    	color: #fff;
		    }
		}	    
	}
}
.img-service.bg-overlay figure:before{
	z-index: 9;
}
// .page-id-1025 .baber-heading.text-center .desc-title {
//     margin-top: 24px;
// }
.page-id-1025 .baber-heading .header_icon {
    margin-bottom: 13px;
}
.slick-slide img {
    display: inline-block !important;
}
.style-2 .item-member-content:hover .member-info .link-text a, 
.style-2 .item-member-content:hover .member-info .member-job p {
    color: #fff;
}
#h6_testimonial{
	.item_testimonial.text-center {
	    width: 96.7%;
	}
	.caption_testimonial .item-desc {
	    margin-bottom: 6px;
	}
	.ult-carousel-wrapper ul.slick-dots {
	    padding-top: 30px;
	}
}
.uavc-list-icon{
    
	.uavc-list{
		text-align: center;
		> li{
		    clear: none !important;
		    display: inline-block;	
		    margin-#{$right}: 91px !important;   	
		    .ult-just-icon-wrapper{
				width: 68px;
			    height: 68px;
			    background: #fff;
			    @include transform(rotate(45deg));
			    border: 1px solid #d19f68;
			    text-align: center;
			    margin-bottom: 30px;
			    position: relative;
			    z-index: 10;			    		 
			    .align-icon{
				    text-align: center;
				    @include transform(rotate(-45deg) translateY(-50%));
				    text-align: center;
				    position: absolute;
				    top: 44%;
				    #{$left}: 45%;
				    font-weight: 400;
				    .aio-icon{
				    	color: #d19f68;
				    }				    			    	
			    }  	

		    }
		    .uavc-list-icon {
		    	position: relative;
			    &:after{
			    	content: "";
				    height: 2px;
				    width: 100px;
				    position: absolute;
				    #{$left}: 100%;
				    z-index: 2;
				    background: #d19f68;
				    top: 50%;
				    transform: translateY(-50%);
				}
			}
		    .uavc-list-desc{
			    font-family: Oswald;
			    font-size: 18px;
			    text-transform: uppercase;
			    color: #010101;		
			    font-weight: 400;    	
		    }	
		    &:last-child{
		    	margin-#{$right}: 0 !important; 
		    	.uavc-list-icon:after{
		    		display: none;
		    	}
		    }
		}
		.uavc-list-content {
		    display: inline-block;
		    width: auto;
		    margin-bottom: 7px;
		}
	}
}
.instagram-image{margin: side-values(-15px -0.78125%);}
.item_testimonial.text-center.type_2{
	width: 95%;
}

.instagram-type3 .instagram-img {
    height: 270px;
    width: 23.4364%;
    margin: side-values(15px 0.78125%);
    background-size: cover;
    @include transitions(all 0.4s ease);   
    &.image_size1{
    	width: 23.4364%;
    	height: 569px;
    }
    a:hover:before{
    	opacity: 0;
    }
    a::before {
	    background: #d19f68;
	    content: "";
	    #{$right}: 0;
	    #{$left}: 0;
	    opacity: 0;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	}
	&.image_size2{
    	width: 12.513%;
    }
    &.image_size3{
    	width: 20.359%;
    }

}
#our_artist{
	.baber-heading.text-center{
		.desc-title{
			margin-top: 21px;
		}
	}
}
#h6_blog{
	.post-name a {
	    font-size: 18px;
	}
}
.banner-bottom{
	padding:side-values(0 15px);
	h2{
		color: #f5f5f5;
		font-size: 38px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.desc{
		color: #fff;
		padding:side-values(10px 0 35px);
		font-size: 18px;
	}
	.btn{
		letter-spacing: 0.1px;
		width:289px;
		&.btn-icon i {
		    margin-#{$left}: 13px;
		}
	}
}
.box-member{
	margin: side-values(0 -15px);
	.member-type1 {
		width:33.33%;
		padding:side-values(0 15px);
		float: $left;
		display: inline-block;
		margin-bottom: 56px;
	}
	&.our-team-2{
		margin-top: -2px;
		.member-type1 {
			margin-bottom: 48px;
		}
		.member-info{
			margin-top: -43px;
		}
	}
}
.vc_row.bg-box-text{
	background-position:top $right !important;
}
#last_ink{
	.baber-heading.text-center .desc-title {
	    margin: side-values(23px auto 0);
	}
}
.icon_smaller_size.uavc-list-icon{
	.ult-just-icon-wrapper .align-icon .aio-icon{
	    font-size: 26px !important;
	    width: 40px;
	    height: 37px;
		
	}
}
.h6_product,.black_slick_button{
	.slick-prev,.slick-next{
		color: #282828 !important;
	}
}
.item_testimonial3{
	max-width: 745px;
    margin: 0 auto;
	figure{
		> img{
			border-radius: 50%;
		}
		&:after{
			content: "";
			width: 1px;
			height: 30px;
			background: #000;
			display: block;
		    margin: 20px auto;
		}
	}
	.caption_testimonial .item-desc{
		font-size: 20px;
		color: #000;
		padding-top: 2px;
	}
	.caption_testimonial .tes_name h4{
		font-size: 12px;
    	padding-top: 16px;
		&:after{
			content: "";
			width: 1px;
			height: 30px;
			background: #000;
			display: block;
			margin: 30px auto;
		}		
	}
}
.wpb_text_column{
	#sln-salon{
		background: none;
		border:none;
		padding-top: 0;
    	margin-top: 0;
		.sln-salon-title,.editable{
			display: none;
		}
		& > form {
		    margin-top: 10px;
		}
		form{
			.salon-step-title{
				display: none;
			}
			.sln-btn--emphasis, .sln-bootstrap .sln-btn--emphasis{
				background: none;
			}
		}
		&.sln-step-date{
			.salon-step-title,label{
				display: none;
			}		
			.form-actions{
		    	.col-md-6.pull-right{
					width: 100%;
				    max-width: 292px;
				    margin: 0 auto;
				    float: none !important;	    		
		    	}
		    }				
		}
		.sln-payment-actions,.sln-payment-actions{
	    	.col-md-6.pull-right{
				width: 100%;
			    max-width: 292px;
			    margin: 0 auto;
			    float: none !important;	    		
	    	}			
		}
		.sln-input input, .sln-input textarea,.editable.focus input {
		    height: 50px;
		    font-size: 14px;
		    border-color: #ebebeb;
		    padding: 8px 21px 13px !important;
		    width: 100%;
		    background: #fff;
		    color: #555;
		}
		.sln_datepicker:after, .sln_timepicker:after {
		    font-size: 14px;
		    #{$right}: 15px;
		    color: #555555 !important;
		}

		.sln-panel .sln-panel-heading .sln-btn--borderonly, 
		.sln-checkbox input + label:before,
		 .sln-radiobox input + label:before{
		 	border-color: #222;
		 }
		 &.sln-step-services,&.sln-step-secondary,&.sln-step-attendant{
		 	color: #222;
		 	p{
		 		color: #222;
		 	    font-size: 14px;
		 	}
		 	h3 {
			    font-size: 16px;
			}
		}
		.sln-steps-description{
			color: #222;
			hr {
			    border-color: rgba(0, 0, 0, 0.3);
			    margin-bottom: 7px;
			}			
		}
		.sln-service-description{
			margin-bottom: 20px;
		}		
		.sln-box--formactions .sln-btn{
		    height: 50px !important;
		    padding: 14px 25px;
		    border-radius: 0;
		    font-size: 14px;
		    font-weight: 500;
		    border: none;
		    font-family: Oswald;
		    line-height: 20px;
		    min-width: 100px;	 
		    &:hover{

		    }   
		}	
		.sln-box--formactions .sln-btn.sln-btn--borderonly {
		    border: 1px solid $highlight_color;
		    background: $highlight_color;
		    color: #fff;
		    text-align: center;
		    &:hover{
		    	border-color: $primary_color;
		    	background: $primary_color;
		    }  
		    .glyphicon-chevron-left, &:after{
		    	display: none;
		    } 
		}	
		.sln-data-desc .editable{
			display: block !important;
		    margin-#{$left}: 0;
		    border: none;		
		     .label{
		     	color: #222;
			    font-size: 16px;
			    padding-#{$left}: 0;
			    margin-bottom: 15px;
		     }
		     &.focus{background: none;}
		}	
		.sln-data-desc .label{
			font-size: 16px;
		}
		.editable .fa-gear{
			position: absolute;
			#{$right}: 0;
		}	
		.sln-thankyou {
		    margin-top: 0;
		}	
		.sln-thankyou--okbox {
		    padding-top: 2em;
		    padding-bottom: 2em;
		}
		label[for="sln_no_user_account"] .salon-step-title {
		    display: inline-block !important;
		    color: #222 !important;
		}
		.sln-attendant-list--multiple .sln-steps-name.sln-service-name {
		    padding-bottom: 10px;
		    border-color: #222;
		    color: #222;
		}						
	}
	.sln-attendant{
		margin-bottom: 15px;
		hr{
			margin-top: 14px;
		}		
	} 
	.sln-total hr{
		padding-bottom: 10px;
	}
	.sln-box--main {
	    margin-top: 0;
	    margin-bottom: 16px;
	}	
	&.white-color{
		#sln-salon {
			 &.sln-step-services,&.sln-step-secondary,&.sln-step-attendant{
			 	color: #fff;
			 	p{
			 		color: #fff;
			 	}
			}			
			label[for="sln_no_user_account"] .salon-step-title {
			    color: #fff !important;
			}
			.sln-box--formactions .sln-btn.sln-btn--borderonly {
			    color: #fff;
			}	
			.sln-data-desc .editable{	
			     .label{
			     	color: #fff;
			     }
			}	
			.sln-attendant-list--multiple .sln-steps-name.sln-service-name {
			    border-color: #fff;
			    color: #fff;
			}							
			.sln-panel .sln-panel-heading .sln-btn--borderonly, 
			.sln-checkbox input + label:before,
			 .sln-radiobox input + label:before{
			 	border-color: #fff;
			 }
			 &.sln-step-services,&.sln-step-secondary,&.sln-step-attendant{
			 	color: #fff;
			}
			.sln-steps-description{
				color: #fff;	
				hr {
				    border-color: rgba(255, 255, 255, 0.3);
				    margin-bottom: 7px;
				}					
			}	
			.sln-input input, .sln-input textarea,.editable.focus input {
			    background: #fff;
			}
			.sln-data-desc .editable{	
			     .label{
			     	color: #fff;
			     }
			}				
		}
		.sln-text--emphasis,.sln-loader:after,.sln-panel .sln-panel-heading,
		 .sln-panel .sln-panel-heading.collapsed .sln-btn--borderonly, 
		 .sln-panel .sln-panel-heading.collapsed .sln-btn--nobkg, .sln_datepicker:hover:after, 
		 .sln_timepicker:hover:after, .sln-steps-name,.sln-steps-price,
		 .sln-total-label, .sln-total-price,
		 #sln-salon .sln-input label,#sln-salon.sln-step-summary,.sln-text--dark,
		 #sln-salon .sln-thankyou--okbox h1, #sln-salon .sln-thankyou--okbox h2, #sln-salon .sln-thankyou--okbox h3, 
		 #sln-salon .sln-thankyou--okbox .sln-icon-wrapper .sln-icon, .sln-payment-actions h4,
		 .sln-step-thankyou,#sln-salon .sln-input .help-block a,#sln-salon .sln-data-desc .label, 
		 .sln-summary-row .label, .sln-total-label,.salon-step-title,
		 #sln-salon .sln-panel .sln-panel-heading.collapsed .sln-btn--nobkg{
			color: #fff;
		}				
	}
	.sln-text--emphasis, .sln-loader:after,.sln-panel .sln-panel-heading,
	 .sln-panel .sln-panel-heading.collapsed .sln-btn--borderonly, 
	 .sln-panel .sln-panel-heading.collapsed .sln-btn--nobkg, .sln_datepicker:hover:after, 
	 .sln_timepicker:hover:after, .sln-steps-name,.sln-steps-price,
	 .sln-total-label, .sln-total-price,
	 #sln-salon .sln-input label,#sln-salon.sln-step-summary,.sln-text--dark,
	 #sln-salon .sln-thankyou--okbox h1, #sln-salon .sln-thankyou--okbox h2, #sln-salon .sln-thankyou--okbox h3, 
	 #sln-salon .sln-thankyou--okbox .sln-icon-wrapper .sln-icon, .sln-payment-actions h4,
	 .sln-step-thankyou,#sln-salon .sln-input .help-block a,#sln-salon .sln-data-desc .label, 
	 .sln-summary-row .label, .sln-total-label,.salon-step-title,
	 #sln-salon .sln-panel .sln-panel-heading.collapsed .sln-btn--nobkg {
		color: #222;
	}		
	.sln-loader{
		z-index: 99;
	}
	.sln-checkbox input{
		width: 20px;
		height: 20px;
		& + label:before, &+ label:after{
			width: 20px;
			height: 20px;			
		}
	}
	.sln-checkbox input + label:after{
		font-size: 1em;
		top: 2.5px;
	    #{$left}: 0;
	    color: #000 !important;
	}
	.sln-alert.sln-alert--wait,.sln-alert.sln-alert--wait:after,.sln-alert,
	.sln-alert a:hover, #sln-salon .alert a:hover, .sln-steps-name:hover{
		color: $primary_color;
	}
	.sln-checkbox input + label:before, .sln-checkbox input[type="checkbox"][disabled] + label:before, 
	.sln-radiobox input + label:before, .sln-radiobox input + label:after, 
	.sln-radiobox input[type="radio"][disabled] + label:before{
	    background-color: white;
	}
    .sln-radiobox input:checked + label:after, .sln-radiobox input:checked + label:hover:after,
    .sln-radiobox input + label:hover:after{
    	background: $primary_color;
    }
    #sln-salon .sln-input label{
	    font-size: 14px;
	    padding-#{$left}: 0 !important;    
	    text-transform: capitalize;
    }
	#sln-notifications{
		margin-top: 30px;
		 .sln-loader-wrapper{
		 	opacity: 0.1;
		 	z-index: 88;
		}	
	}
	.sln-service {
	    margin-bottom: 10px;
	}
}
.wpb_text_column #sln-salon .sln-panel .sln-panel-heading .sln-btn--nobkg:hover,
.wpb_text_column #sln-salon .sln-panel .sln-panel-heading .sln-btn--nobkg:active,
.wpb_text_column #sln-salon .sln-panel .sln-panel-heading .sln-btn--nobkg{
    background: $primary_color !important;
}
.wpb_text_column #sln-salon .sln-panel .sln-panel-heading .sln-btn--nobkg{
    color: #222 !important;
}
.wpb_text_column.white-color #sln-salon .sln-panel .sln-panel-heading .sln-btn--nobkg{
    color: #fff !important;
}
#sln-salon{
	.sln-btn--medium input,.sln-btn--medium button, .sln-btn--medium a,
	&.sln-salon--m .sln-btn--big,.sln-btn--emphasis, .sln-bootstrap .sln-btn--emphasis {
	    background: $primary_color;
	    border: 1px solid $primary_color;
	    color: #000;
	    padding: 14px 25px;
	    border-radius: 0;
	    font-size: 14px;
	    font-weight: 500;
	    border: none;
	    font-family: Oswald;
	    line-height: 20px;
	    height: 50px;
	    .glyphicon{
	    	top: 0;
	    	&:before {
			    content: "\f178";
			    font-family: FontAwesome;
			    margin-#{$left}: 8px;
			}
	    }
	    &:hover{
	    	background: $highlight_color;
	    	border-color:  $highlight_color;
	    	color: #fff;
	    }
	}	
}
#sln-salon #sln-salon-my-account .table thead td {
    text-transform: uppercase;
    text-align: center;
    color: #222;
    font-weight: 400;
    font-family: Oswald;
    font-size: 17px !important;
    padding: 19px 20px !important;
    border-bottom: 2px solid $primary_color !important;
}
#sln-salon {
    border: none !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}
#sln-salon #sln-salon-my-account{
	.hint {
	    color: #555;
	    font-size: 18px;
	}
	.table tbody td {
	    border-bottom: 1px solid #ebebeb !important;
	    padding: 24px 20px !important;
	    font-size: 14px !important;
	}	
	.sln-salon-my-account-tab-content {
	    background-color: #fff !important;
	}
	.nav li div {
	    padding: 19px 15px;
	    font-size: 18px;
	}
} 
.lost_reset_password{
	input[type="submit"]{
		max-width: 300px;
	}
}

@media (min-width: 1366px){
	.datetimepicker.sln-datetimepicker.datetimepicker-dropdown-bottom-right.timepicker {
    	margin-#{$left}: -55px;
	}
}
#loginform{
	input[type="text"],input[type="email"],,input[type="password"]{
	    color: rgba(48, 47, 47, 0.5);
	    border: 1px solid #ebebeb;
	    height: 50px;
	    background: none;		
	}
	label{
		display: block;
	}
}
.baber-heading .desc-title,
.baber-heading .header_icon{
	visibility: visible;
}
.tab-custom .ult_tabmenu.style1{
	justify-content: center;
	padding-bottom: 30px;
	li.ult_tab_li{
		&:before {
		    content: "";
		    position: absolute;
		    height: 17px;
		    width: 1px;
		    background: #000;
		    right: 0;
		    top: 14px;
		}
		&:last-child:before{
			display: none;
		}
	}
	a.ult_a{
		border: 0;
		width: auto;
		.ult_tab_main{
			display: inline-block;
		}
	} 
	.ult-span-text{
		display: block !important;
		color: #000;
		font-weight: 700;
		font-size: 16px;
		text-transform: uppercase;
		position : relative;
		line-height: 24px;
		&:after {
		    content: "";
		    background: #d19f68;
		    height: 1px;
		    width: 17px;
		    opacity: 0;
		    position: absolute;
		    bottom: -22px;
		    right: 55%;
		    -moz-transform: rotate(-45deg);
		    -o-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    -webkit-transition: all 0.3s ease-in-out 0s;
		    -moz-transition: all 0.3s ease-in-out 0s;
		    -ms-transition: all 0.3s ease-in-out 0s;
		    -o-transition: all 0.3s ease-in-out 0s;
		    transition: all 0.3s ease-in-out 0s;
		}
		&:before{
			content: "";
		    background: #d19f68;
		    height: 1px;
		    width: 17px;
		    opacity: 0;
		    position: absolute;
		    top: -20px;
		    left: 55%;
		    -moz-transform: rotate(-45deg);
		    -o-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    -webkit-transition: all 0.3s ease-in-out 0s;
		    -moz-transition: all 0.3s ease-in-out 0s;
		    -ms-transition: all 0.3s ease-in-out 0s;
		    -o-transition: all 0.3s ease-in-out 0s;
		    transition: all 0.3s ease-in-out 0s;
		}
		&:hover:after{
		  	bottom: -4px;
	    	right: 55%;
			opacity: 1;
		}
		&:hover:before{
		  	top: -2px;
	    	left: 55%;
			opacity: 1;
		}
	}
	
}
.wpb-js-composer .tab-custom{
	.vc_tta-tabs-list{
		text-align: center;
	}
	&.vc_tta.vc_tta-spacing-1 .vc_tta-tabs-list{
		padding-bottom: 65px;
	}
	&.vc_tta.vc_tta-spacing-1 .vc_tta-tab{
		margin: 0;
		position: relative;
		&:before {
		    content: "";
		    position: absolute;
		    height: 17px;
		    width: 1px;
		    background: #000;
		    #{$right}: 0;
		    top: 18px;
		}
		&:last-child:before{
			display: none;
		}
		a{
			background-color: transparent;
			border-width: 0;
			color: #000;
			border-radius: 0;
		    text-transform: uppercase;
		    font-size: 16px;
		    font-weight: 700;
		    &:hover{
		    	background-color: transparent;
		    	color: $primary_color;
		    	.vc_tta-title-text:after{
				  	bottom: -6px;
			    	#{$right}: 55%;
					opacity: 1;
				}
				.vc_tta-title-text:before{
				  	top: -4px;
			    	#{$left}: 55%;
					opacity: 1;
				}
		    }
		    .vc_tta-title-text{
		    	position: relative;
		    	&:before{
					content: "";
				    background: $primary_color;
				    height: 1px;
				    width: 17px;
				    opacity: 0;
				    position: absolute;
				    top: -20px;
				    #{$left}: 55%;
				    -moz-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -webkit-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transition: all 0.3s ease-in-out 0s;
				    -moz-transition: all 0.3s ease-in-out 0s;
				    -ms-transition: all 0.3s ease-in-out 0s;
				    -o-transition: all 0.3s ease-in-out 0s;
				    transition: all 0.3s ease-in-out 0s;
		    	}
		    	&:after{
		    		content: "";
				    background: $primary_color;
				    height: 1px;
				    width: 17px;
				    opacity: 0;
				    position: absolute;
				    bottom: -22px;
				    #{$right}: 55%;
				    -moz-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -webkit-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transition: all 0.3s ease-in-out 0s;
				    -moz-transition: all 0.3s ease-in-out 0s;
				    -ms-transition: all 0.3s ease-in-out 0s;
				    -o-transition: all 0.3s ease-in-out 0s;
				    transition: all 0.3s ease-in-out 0s;
		    	}
		    }
		}
	}
	&.vc_tta.vc_tta-spacing-1 .vc_tta-tab.vc_active{
		a{
			.vc_tta-title-text{
		    	&:before{
					content: "";
				    background: $primary_color;
				    height: 1px;
				    width: 17px;
				    opacity: 1;
				    position: absolute;
				    top: -4px;
			    	#{$left}: 55%;
				    -moz-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -webkit-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transition: all 0.3s ease-in-out 0s;
				    -moz-transition: all 0.3s ease-in-out 0s;
				    -ms-transition: all 0.3s ease-in-out 0s;
				    -o-transition: all 0.3s ease-in-out 0s;
				    transition: all 0.3s ease-in-out 0s;
		    	}
		    	&:after{
		    		content: "";
				    background: $primary_color;
				    height: 1px;
				    width: 17px;
				    opacity: 1;
				    position: absolute;
				    bottom: -6px;
			    	#{$right}: 55%;
				    -moz-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -webkit-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transition: all 0.3s ease-in-out 0s;
				    -moz-transition: all 0.3s ease-in-out 0s;
				    -ms-transition: all 0.3s ease-in-out 0s;
				    -o-transition: all 0.3s ease-in-out 0s;
				    transition: all 0.3s ease-in-out 0s;
		    	}
		    }
		}
	}
	&.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body{
		background-color: #fff;
		border: 0;
		padding: 0;
	} 
	&.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active>a{
		background-color: transparent;
		border: 0;
		color: $primary_color;
	}
}
@media (max-width: 767px) {
	.baber-heading.animated.animated_heading {
		visibility: visible;
	}
}