/* Home 3 */
.custom-width-4{
	.wpb_single_image.wpb_content_element{
		margin-bottom: 0;
	}
}
.service-pricing{
	.pricing-content.style3 {
	  width: 50%;
	  float: $left;
	  .pricing-box{
	  	padding-#{$left}: 77px;
	  	padding-#{$right}: 84px;
	  }
	  	&:last-child{
	  		.pricing-box{
			  	padding-#{$left}: 96px;
			  	padding-#{$right}: 102px;
			}
	  	}
	}
}
.no-padding{
	&:last-child{
		.pricing-content.style2{
			.pricing-box {
				border: none;
			}
		}
	}
	.pricing-content.style2{
		.pricing-box {
			border: none;
			border-#{$right}: 1px solid #ebebeb;
		}
	}
}
.pricing-content{
	ul{
		list-style: none;
		padding-#{$left}: 0;
	}
	.pricing-box {
		position: relative;
	}
	&.style1{
		background: #fff;
		text-align: center;
		position: relative;
		.pricing-title h3 {
		  font-size: 27px;
		  margin-bottom: 0;
		  padding-bottom: 30px;
		  padding-top: 23px;
		}
		.price-box {
		  background: #7f7f7f none repeat scroll 0 0;
		}
		.price-center {
		  color: #fff;
		  font-family: Oswald;
		  font-size: 32px;
		  font-weight: 700;
		  padding-bottom: 28px;
		  position: relative;
		  padding-top: 18px;
		  	&::before {
			  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
			  content: "";
			  height: 1px;
			  #{$left}: 0;
			  position: absolute;
			  top: 5px;
			  width: 100%;
			}
			&::after {
			  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
			  content: "";
			  height: 1px;
			  #{$left}: 0;
			  position: absolute;
			  bottom: 5px;
			  width: 100%;
			}
		}
		.pricing-desc{
			color: #42bb00;
		}
	}
	&.style2{
		.pricing-box {
		  background: #fff none repeat scroll 0 0;
		  text-align: center;
		  padding: side-values(20px);
		  border: 1px solid #ebebeb;
		}
		.price-box {
		  border-bottom: 1px solid #ebebeb;
		  padding-bottom: 21px;
		}
		.pricing-title h3 {
		  color: #000;
		  padding-top: 18px;
		  font-size: 20px;
		  margin-bottom: 0;
		}
		.price-center {
		  font-family: Oswald;
		  font-size: 30px;
		  line-height: normal;
		  margin-top: -2px;
		  color: $primary_color;
		  .unit{
		  	font-size: 18px;
		  }
		}
		sup {
		  top: -4px;
		}
		.pricing-desc {
		  color: #555;
		  padding-bottom: 20px;
    	  padding-top: 18px;
		  font-size: 16px;
		  li{
		  	padding: side-values(6px 0);
		  	&.list-close{
		  		color: #c0bebe;
		  	}
		  }
		}
		.pricing-sign {
		  padding-bottom: 20px;
		}
	}
	&.style3{
		.pricing-desc{
			color: #010101;
		}
		.pricing-title h3 {
			margin-top: 3px;
		}
		.pricing-sign {
		  padding-top: 15px;
		  text-align: center;
		  a{
		  	min-width: 290px;
		  	width: auto;
		  }
		}
	}
}
.box-pricing-h7 .pricing-content.style2 .pricing-box{
	border:none;
	box-shadow: 2px -4px 14px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px -4px 14px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px -4px 14px 6px rgba(0, 0, 0, 0.1);
}
.pricing-title h3 {
  font-size: 27px;
  font-weight: 400;
  color: #010101;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.pricing-list-1 {
	li {
	  border-bottom: 1px dashed #ebebeb;
	  font-size: 16px;
	  padding: side-values(14px 10px 12px);
	  	&:last-child{
	  		border: none;
	  	}
	  	&.list-close{
	  		color: #ff0000;
	  	}
	  	span {
		  font-size: 14px;
		  margin-#{$right}: 10px;
		}
	}
} 
.pricing-list-3{
	padding: side-values(0);
	margin: side-values(0);
	li {
	  font-family: Oswald;
	  font-size: 19px;
	  margin-bottom: 24px;
	  position: relative;
	  text-transform: uppercase;
	  overflow: hidden;
	  	> span:first-child{
	  		position: relative;
	  		&::before {
			  border-top: 2px dotted #010101;
			  bottom: 6px;
			  content: "";
			  #{$left}: 100%;
			  min-width: 200vh;
			  position: absolute;
			}
	  	}
	  	.price-list {
		  color: $primary_color;
		  background: #fff none repeat scroll 0 0;
	      display: block;
	      float: $right;
	      position: relative;
		}
	}
} 
.vc_btn_primary {
  clear: $left;
  width: 100%;
  padding-top: 12px;
  	.vc_general.vc_btn3-icon-right{
	  background: $primary_color;
	  color: #000;
	  font-family: Oswald;
	  font-weight: 400;
	  padding-#{$left}: 50px;
	  min-width: 289px;
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: $left;
	  padding-#{$right}: 83px !important;
	  text-transform: uppercase;
	  font-size: 14px;
	  	.vc_btn3-icon {
		  #{$right}: 50px !important;
		}
	  	&:hover{
		  	background: #000;
		  	color: #fff;
	  	}
	}
}
.tes-3{
	.caption_testimonial {
		&:before{
			top: 18px;
		}
		.item-desc {
		  padding-top: 29px;
		  margin-bottom: 6px;
		}
	}
	&.ult-carousel-wrapper ul.slick-dots {
	    padding-top: 29px;
	}
}

.slide-member{
	.slick-list .slick-slide{
		margin: side-values(0);
	}
}
.title-insta {
  text-align: center;
  span {
  	display: none;
  }
  h2{
  	text-transform: uppercase;
  	font-size: 35px;
  }
}
.instagram-img{
	a {
	  color: #fff;
	  display: inline-block;
	  font-size: 36px;
	  text-align: center;
	  vertical-align: middle;
	  width: 100%;
	  height: 100%;
	  position: relative;
	  	i{
		  #{$left}: 50%;
		  position: absolute;
		  top: 50%;
		  @include transform(scale(0) translate($translateX, -50%));
		  @include transitions(all 0.3s ease-in-out 0s);
		  vertical-align: middle;
		  z-index: 1;
	  	}
	  	&:hover{
		  	&:before{
		  		opacity: 0.7;
		  		@include transform(scale(1));
		  	}
		  	i{
			  @include transform(scale(1) translate($translateX, -50%));
		  	}
	  	}
	  	&::before {
		  background: #000 none repeat scroll 0 0;
		  content: "";
		  #{$right}: 0;
		  #{$left}: 0;
		  opacity: 0;
		  position: absolute;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  bottom: 10px;
		  @include transform(scale(0));
		  @include transitions(all 0.3s ease-in-out 0s);
		}
	}
}
.instagram-type1{
	float: $left;
	width: 100%;
	position: relative;
	.title-insta {
	  background: $primary_color;
	  display: table;
	  height: 440px;
	  position: absolute;
	  #{$right}: 0;
	  top: 50%;
	  @include transform(translateY(-50%));
	  vertical-align: middle;
	  width: 23.1%;
	  	span {
		  color: #fff;
		  display: block;
		  font-size: 20px;
		}
	  	h2 {
		  display: table-cell;
		  height: 100%;
		  padding-#{$left}: 78px;
		  vertical-align: middle;
		}
	}
	.instagram-grid {
	  width: 84.5%;
	  float: $left;
	}
	.instagram-img {
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  float: $left;
	  height: 322px;
	  position: relative;
	  width: 20%;
	  z-index: 9;
	}
}
.instagram-slider{
	padding-top: 29px;
	.slick-list{
		overflow: initial;
	}
}
.instagram-type2{
	position: relative;
	.instagram-img a::before{
		content: none;
	}
	.instagram-img i{
		display: none;
	}
	&::before {
	  border: 15px solid $primary_color;
	  content: "";
	  height: 475px;
	  #{$left}: 50%;
	  position: absolute;
	  top: 50%;
	  transform: translate($translateX, -50%);
	  width: 200px;
	  z-index: 10;
	}
	.title-insta {
		position: absolute;
	    top: 50%;
	    @include transform(translateY(-50%));
	    width: 100%;
	    z-index: 9;
		h2 {
		  color: #fff;
		  font-size: 72px;
		  font-weight: 700;
		  letter-spacing: 1.58em;
		}
	} 
	.instagram-img {
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  height: 300px;
	  opacity: 0.5;
	  filter:grayscale(1);
	  -moz-filter:grayscale(1);
	  -webkit-filter:grayscale(1);
	  -o-filter:grayscale(1);
	  -ms-filter:grayscale(1);
	  margin: side-values(0 15px);
	  	&.slick-center {
		  height: 357px;
		  opacity: 1;
		  margin-top: -29px;
		  filter:grayscale(0);
	  	  -moz-filter:grayscale(0);
	 	  -webkit-filter:grayscale(0);
	  	  -o-filter:grayscale(0);
	  	  -ms-filter:grayscale(0);
		}
	}
}
.instagram-type4{
	.instagram-img {
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  height: 300px;
	  filter:grayscale(1);
	  -moz-filter:grayscale(1);
	  -webkit-filter:grayscale(1);
	  -o-filter:grayscale(1);
	  -ms-filter:grayscale(1);
	  	&.slick-center {
		  filter:grayscale(0);
	  	  -moz-filter:grayscale(0);
	 	  -webkit-filter:grayscale(0);
	  	  -o-filter:grayscale(0);
	  	  -ms-filter:grayscale(0);
	  	  	a span{
				@include transform(translate($translateX, -50%) scale(1));
			}
		}
		&:hover{
			a span{
				@include transform(translate($translateX, -50%) scale(1));
			}
		}
	}
	.instagram-img a{
		height: 100%;
		position: relative;
		&:before{
			content: none;
		}
		span {
		  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		  display: block;
		  font-family: Oswald;
		  font-size: 18px;
		  height: 70px;
		  #{$left}: 50%;
		  line-height: 70px; 
		  position: absolute;
		  text-transform: uppercase;
		  top: 50%;
		  @include transform(translate($translateX, -50%) scale(0));
		  @include transitions(all .3s ease-out);
		  width: 254px;
		}
	}
}
.ie-11 .banner-type1 .banner-mid{
	position: static;
}
.banner-type1{
  height: 880px;
  display: table;
  width: 100%;
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &.en_overlay{
	  	.banner-mid {
		  	&::before {
			  background: #fff none repeat scroll 0 0;
			  bottom: 0;
			  content: "";
			  #{$left}: 0;
			  opacity: 0;
			  position: absolute;
			  #{$right}: 0;
			  top: 0;
			  @include transitions(all 0.3s ease-in-out 0s);
			}
		}    	
    }
  	&:hover{
		.banner-mid:before {
			opacity: 0.9;
		}
		.banner-title, .banner-btn {
			opacity: 1;
			@include transform(none);
		}
	
  	}
  	.banner-mid {
	  display: table-cell;
	  height: 100%;
	  position: relative;
	  vertical-align: middle;
	  width: 100%;
	  padding: side-values(0 15px);
	}
	.banner-title {
		position: relative;
		opacity: 0;
		@include transitions(all 0.3s ease-in-out 0s);
		@include transform(translateY(-100%));
		h2 {
		  font-size: 74px;
		  font-weight: 700;
		  margin-bottom: 11px;
		  text-transform: uppercase;
		}
		h3 {
		  color: $primary_color;
		  font-size: 35px;
		  margin: side-values(0 auto);
		  line-height: 41px;
		  max-width: 410px;
		  font-weight: 300;
		  text-transform: uppercase;
		}
	} 
	.btn-plus{
		display: none;
	}
	.banner-btn {
	  margin-top: 24px;
	  position: relative;
	  opacity: 0;
	  @include transitions(all 0.3s ease-in-out 0s);
	  @include transform(translateY(100%));
	  .btn{
	  	min-width: 289px;
	  }
	}
}
.banner-type2{
	height: 464px;
	display: table;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	&:hover{
		.banner-mid:before {
			opacity: 0.5;
		}
		.banner-title, .banner-btn {
			opacity: 1;
			@include transform(none);
		}
		.banner-btn{
			height: auto;
			margin-top: 37px;
		}
  	}
	.banner-mid {
	  display: table-cell;
	  height: 100%;
	  vertical-align: middle;
	  width: 100%;
	  position: relative;
	  padding: side-values(0 15px);
	  	&::before {
	  		margin: side-values(34px 30px);
		    background: #000;
		    bottom: 0;
		    content: "";
		    #{$left}: 0;
		    opacity: 0;
		    position: absolute;
		    #{$right}: 0;
		    top: 0;
		    @include transitions(all 0.3s ease-in-out 0s);
		}
	}
	.banner-title {
		margin-top: -7px;
		position: relative;
		h2 {
		  font-size: 49px;
		  font-weight: 700;
		  color: #fff;
		  letter-spacing: -2.8px;
		  text-transform: uppercase;
		  margin-top: 10px;
		}
		h3 {
			font-weight: 300;
		  color:#fff;
		  font-size: 37px;
		  margin: side-values(0 auto);
		  line-height: 41px;
		  letter-spacing: -1px;
		  text-transform: uppercase;
		}
	} 
	.banner-btn {
	  margin-top: 0;
	  position: relative;
	  opacity: 0;
	   height: 0;
	  @include transitions(all 0.3s ease-in-out 0s);
	}
}
.banner-type4{
	position: relative;
	&.en_overlay::before {
	  background: #000 none repeat scroll 0 0;
	  bottom: 0;
	  content: "";
	  #{$left}: 0;
	  opacity: 0.3;
	  position: absolute;
	  #{$right}: 0;
	  top: 0;
	  z-index: 1;
	}
	.banner-img img{
		filter:grayscale(100%);
		-ms-filter:grayscale(100%);
		-moz-filter:grayscale(100%);
		-webkit-filter:grayscale(100%);
		-o-filter:grayscale(100%);
		@include transitions(all 0.5s ease);
	}
	.banner-mid {
	  #{$left}: 0;
	  position: absolute;
	  top: 50%;
	  @include transform(translateY(-50%));
	  width: 100%;
	  z-index: 3;
	  	p {
		  color: #fff;
		  font-size: 16px;
		  font-style: italic;
		  margin: side-values(0 auto);
		  max-width: 65%;
		}
		h2 {
		  color: #fff;
		  font-size: 36px;
		  font-weight: 700;
		  position: relative;
		  margin-bottom: 47px;
		  text-transform: uppercase;
		  	a{
		  		color: #fff;
		  		&:hover{
		  			color: $primary_color;
		  		}
		  	}
		  	&::before {
			  background: $primary_color;
			  bottom: -22px;
			  content: "";
			  height: 3px;
			  #{$left}: 50%;
			  position: absolute;
			  @include transform(translateX($translateX));
			  width: 40px;
			}
		}
	}
}
.banner-type5{
	margin-bottom: 30px;
	&:hover{
		.banner-img {
			&:before{
				@include transform(none);
				opacity: 0.3;
			}
			img {
			    @include transform(rotate(-90deg));
			}
			.btn-plus {
			  @include transform(translate($translateX, -50%) scale(1));			
			}
		}
	}
	.banner-img {
	  height: 200px;
	  margin: side-values(0 auto);
	  width: 200px;
	  position: relative;
	  	&:before{
		  	position: absolute;
		  	content: "";
		  	top: 0;
		  	#{$left}: 0;
		  	#{$right}: 0;
		  	bottom: 0;
		  	z-index: 5;
		  	opacity: 0;
		  	border-radius: corner-values(50%);
		  	background: $primary_color;
		  	@include transform(translateX($translateX2));
		  	@include transitions(all 0.35s ease-in-out);
	  	}
	  	img {
		    opacity: 1;
		    @include transform(scale(1));
		    @include transitions(all 0.35s ease-in-out);
		}
	  	img {
		  border-radius: corner-values(50%);
		}
	  	.btn-plus {
		  #{$left}: 50%;
		  margin: side-values(0);
		  position: absolute;
		  top: 50%;
		  z-index: 9;
		  @include transitions(all 0.35s ease-in-out);
		  @include transform(translate($translateX, -50%) scale(0));
		  &:before, &:after{
		  	background: #fff;
		  }
		}
	}
	.banner-title {
	  	margin-top: 39px;
	  	h3 {
		  text-transform: uppercase;
		  margin-bottom: 12px;
		}
	}
}
.banner-type6{
	.banner-img {
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  height: 600px;
	}
}
.slick-counter-slide{
	.slick-center{
		.banner-type4{
			.banner-img img{
				filter: none;
				-ms-filter: none;
				-moz-filter: none;
				-webkit-filter: none;
				-o-filter: none;
			}
		}
	}
	.slick-arrow {
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border: medium none;
	  bottom: 43px;
	  color: #fff;
	  font-size: 17px;
	  position: absolute;
	  #{$right}: 80px;
	  z-index: 9;
	  padding: side-values(0);
	  &:hover{
	  	color: $primary_color;
	  }
	  &.btn-prev{
	  	#{$right}: 50px;
	  }
	}
}
.slider-wrap-container .pagingInfo {
  bottom: 80px;
  color: #fff;
  font-family: Oswald;
  font-size: 22px;
  position: absolute;
  #{$right}: 63px;
  z-index: 9;
}

.wpb_single_image.logo-center {
  #{$left}: 50%;
  position: absolute;
  top: 50%;
  @include transform(translate($translateX, -50%));
  z-index: 1;
}
.text-space.hidden-sm {
  top: 85px;
}
.box-text.box-text-2{
	.box-desc {
	    padding-bottom: 20px;
	}
	img {
	  padding-bottom: 0;
	}
} 

// Slider revolution
.tp-static-layer{
	opacity: 1 !important;
}
.rev_slider_wrapper{
	.custom .tp-bullet {
	  background: rgba(34, 35, 36, 0.2) none repeat scroll 0 0;
	  height: 10px;
	  width: 10px;
	  	&:hover, &.selected {
		  background: $primary_color;
		  opacity: 1;
		}
	}
}


// Home 5
.wpb_revslider_element.wpb_content_element{
	margin-bottom: 0;
}
.height-900{
	height: 900px;
}
.height-730{
	height: 730px;
	.icon_box {
	  line-height: 80px;
	}
}
.height-900, .height-730{
	.vc_column-inner, .wpb_wrapper,
	.ult-content-box-container, 
	.ult-content-box{
		height: 100%;
	}
}
.height-730{
	> .vc_column-inner{
		display: table;
		width: 100%;
		> .wpb_wrapper{
			display: table-cell;
			vertical-align: middle;
		}
	} 
}
.text-rotate {
	h2 {
	  color: #010101;
	  font-size: 37px;
	  letter-spacing: 0.1em;
	  padding: side-values(47px 53px);
	  white-space: nowrap;
	  text-transform: uppercase;
	}
} 
.portfolio-5{
	.button-group {
	  	padding-bottom: 124px;
	    padding-#{$left}: 100px;
	    padding-#{$right}: 100px;
	    text-align: $right;
	    margin: side-values(0 -40px);
	    display: block;
	  	.btn-filter {
		  font-weight: 700;
		}
	}
}
// Counter 
.stats-left {
	padding-#{$left}: 75px;
	.aio-icon-left {
	  display: table-cell;
	  #{$left}: 50px;
	  opacity: 0.2;
	  position: absolute;
	  top: -25px;
	}
}
.stats-block {
	.stats-text {
	  padding-top: 3px;
	}
	.stats-number {
	  font-weight: 400;
	}
}
.height-730{
	.icon-box-container:last-child{
		.icon_box_content{
			margin-bottom: 0;
			.icon_box_desc p{
				margin-bottom: 0;
			}
		}
	}
}
.border-slide{
	border: 15px solid $primary_color;
	height: 597px;
	position: relative;
	&::before {
	  background: #fff none repeat scroll 0 0;
	  bottom: -49%;
	  content: "";
	  height: 182px;
	  #{$left}: 50%;
	  position: absolute;
	  @include transform(translate($translateX, -100%));
	  width: 1px;
	}
}
.scroll-down{
	color: #fff;
	position: relative;
	padding-bottom: 10px !important;
	&:before{
		background: url(../images/bg-scroll-down.png) no-repeat;
		top: 100%;
		content: "";
		height: 46px;
		#{$left}: 50%;
		position: absolute;
		@include transform(translateX($translateX));
		width: 10px;
	}
}

// Home 2 

.img-before {
  margin-#{$left}: 67px;
  margin-top: -30px;
  position: relative;
  	&::before {
	  background: $primary_color;
	  content: "";
	  height: 100%;
	  #{$left}: -67px;
	  position: absolute;
	  top: -70px;
	  width: 100%;
	  z-index: 1;
	}
	&::after {
	  border: 1px solid #fff;
	  content: "";
	  height: 100%;
	  #{$left}: -34px;
	  position: absolute;
	  top: -35px;
	  width: 100%;
	  z-index: 5;
	}
	img{
		position: relative;
		z-index: 3;
	}
}
.vc_custom_heading.main-color {
  	text-transform: uppercase;
}

.contact-info {
  background: $primary_color;
  position: absolute;
  top: 100px;
  width: 390px;
  z-index: 9;
  padding: side-values(40px 52px);
  	h3 {
	  font-size: 20px;
	  margin-bottom: 23px;
	  text-transform: uppercase;
	}
	.connect {
		padding-top: 6px;
		padding-bottom: 33px;
		margin-bottom: 39px;
		padding-#{$left}: 5px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		list-style-type: none;
		li {
		  color: #fff;
		  font-size: 16px;
		  padding-bottom: 6px;
		  &:nth-child(2){
		  	a{
		  		font-style: italic;
		  	}
		  }
		  p{
		  	letter-spacing: 0.06em;
		  	overflow: hidden;
		  	line-height: 22px;
		  }
		  i{
		  	font-size: 18px;
		  	margin-top: 3px;
		  	width: 30px;
		  	float: $left;
		  }
		}
		a {
		  color: #fff;
		  &:hover{
		  	color: #000;
		  }
		}
	}
	.time-work {
		padding-#{$left}:0;
		list-style-type:none;
		> li {
		  color: #fff;
		  font-size: 16px;
		  font-weight: bold;
		  letter-spacing: 0.06em;
		  padding-bottom: 4px;
		  text-transform: uppercase;
		  span{
		  	float: $right;
		  	width: 50%;
		  	text-transform: none;
	    	font-weight: 400;
		  }
		}
	}
	&.contact-h7{
		width: 453px;
		top: -100px;
		padding: side-values(50px 52px 63px);
		#{$left}: 50%;
		@include transform(translateX($translateX));
		img{
			margin-bottom: 39px;
		}
		h3{
			color: #fff;
			letter-spacing: -0.5px;
		}
		.connect{
			margin-bottom: 38px;
			padding-top: 7px;
			padding-bottom: 29px;
			li{
				i{
					margin-#{$right}: 14px;
					float: none;
				}
				&:first-child{
					i{
						display: none;
					}
					.text{
						display: inline-block;
						position: relative;
						margin-bottom: -5px;
						&:before{
							font-family: "Linearicons-Free";
							content: "\e833";
							position: absolute;
							#{$left}:9px;
							color: #fff;
							top: -2px;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
.ult-carousel-wrapper.overflow-initial {
	margin-#{$right}: -15px;
	margin-#{$left}: -15px;
}
.pricing-list-2{
	padding-#{$left}:0;
	list-style-type:none;
}
// Home 8
.barber_container.title-abs {
 	.baber-heading{
 		padding-bottom: 30px;
 	}
  	.header_icon {
	  color: #d19f68;
	  margin-bottom: 0;
	  display: inline-block;
	  margin-#{$right}: 24px;
	}
	h2 {
	    display: inline-block;
	}
}
.box-text.box-3 .box-desc {
    padding-bottom: 43px;
}
.box-text.box-3 .box-title p {
    color: #010101;
}
.item_testimonial.text-center{
	width: 95%;
}
.custom-padding.style-heading-3 {
    padding-bottom: 30px;
}

.wpb_single_image.img-about-abs {
  margin: side-values(0);
  position: absolute;
  #{$right}: 0;
}
.custom-progress.vc_progress_bar {
	.vc_label {
	  font-size: 25px;
	  font-weight: 700;
	  margin-bottom: 20px;
	  text-transform: uppercase;
	}
	.vc_single_bar {
	  background: #454545 none repeat scroll 0 0;
	  border-radius: corner-values(0);
	  box-shadow: none;
	  height: 20px;
	  margin-bottom: 28px;
	  position: relative;
	  	.vc_bar {
		  background-color: $primary_color;
		  border-radius: corner-values(0);
		  position: relative;
		  display: block;
		  &:before{
		  	position: absolute;
		  	content: "";
		  	#{$left}: 100%;
		  	top: 0;
		  	width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 0 0 20px;
			border-color: transparent transparent transparent $primary_color;
		  }
		}
	}
	.vc_progress_value {
	  color: #000000;
	  font-size: 15px;
	  position: absolute;
	  #{$right}: -12px;
	  top: -43px;
	  	&::before {
		  content: "";
		  #{$right}: 6px;
		  width: 0;
		  height: 0;
		  bottom: -15px;
		  border-style: solid;
		  border-width: 11px 6px 0 6px;
		  border-color: $primary_color transparent transparent; 
		  position: absolute;
		}
	}
}

.member-img{
	img{
		width: 100%;
	}
}

.ult_tabs .ult_tabmenu.style3 > li.ult_tab_li {
  	background: $primary_color !important;
  	&.current, &:hover{ 
  		background: #f5f5f5 !important;
  		a{
	  		color: $primary_color !important;
	  		.ult_tab_icon{
	  			color: $primary_color !important;
	  		}
	  	}
  	}	
}
.appointment-8{
	.baber-heading.style-heading-3 {
	  margin: side-values(0 auto);
	  max-width: 82%;
	  padding-#{$left}: 15px;
	  padding-#{$right}: 15px;
	  p{
	  	margin-top: 33px;
	  }
	}
	.apr_book_form {
		select, .table-width{
			border: 1px solid transparent;
		}
	}
}
.contact-8{
	.wpcf7-form{
	  display: table-cell;
	  vertical-align: middle;
	  width: 100%;
	}
	.wpcf7{
		background: $primary_color;
		padding: side-values(0 45px);
		display: table;
		-webkit-box-shadow: -9px 16px 29px 0px rgba(0, 0, 0, 0.32);
	  	-moz-box-shadow:    -9px 16px 29px 0px rgba(0, 0, 0, 0.32);
	 	box-shadow:         -9px 16px 29px 0px rgba(0, 0, 0, 0.32);
		p{
			margin-bottom: 10px;
			text-align: center;
			&.btn-submit{
				margin-bottom: 0;
				padding-top: 22px;
			}
		}
		textarea.wpcf7-form-control {
		  	height: 108px;
		}
		.wpcf7-form-control {
		  border: 1px solid transparent;
		  border-bottom: 1px solid #fff;
		  background: none;
		  color: #fff;
		  font-size: 13px;
		  padding: side-values(10px 22px);
		  text-align: center;
		  &::-webkit-input-placeholder{
		  	color: #fff;
		  	opacity: 0.8;
		  }
		  	&.wpcf7-submit{
			  background: #fff url("../images/icon-right.png") no-repeat scroll 87% -23px;
			  border: 1px solid #fff;
			  color: #000;
			  font-family: Oswald;
			  font-weight: 400;
			  letter-spacing: 0;
			  font-size: 14px;
			  text-align: $left;
			  font-size: 15px;
			  width: 153px;
			  &:hover{
			  	background: #000 url("../images/icon-right.png") no-repeat scroll 87% 21px;
			  	border-color: #000;
			  	color:  #fff;
			  }
			}
		}
		.ajax-loader {
		  position: absolute;
		}
	}
}

// Home 9
.logo9-abs {
  #{$left}: 50%;
  position: absolute;
  top: 145px;
  margin-bottom: 0 !important;
  @include transform(translateX($translateX));
  z-index: 99;
}
.box-text.about-9 img {
  padding-bottom: 0 !important;
}
.custom-banner-1{
	.banner-type2 {
		height: 500px;
		.banner-mid::before{
			content: none;
		}
		.banner-title h2 {
		  font-size: 74px;
		}
		.banner-btn {
		  height: auto;
		  margin-top: 37px;
		  opacity: 1;
		  a{
		  	color: #fff;
		  	min-width: 290px;
		  	&:hover{
		  		color: $primary_color;
		  	}
		  }
		}
	}
}
.pricing-list-3 span span {
  font-family: Open Sans; 
  font-size: 16px;
  font-style: italic;
  text-transform: none;
}
.portfolio-9{
	.gallery_filter {
	    margin-top: -16px;
	    .button-group {
		    padding-bottom: 48px;
		    .btn-filter{
		    	font-weight: 700;
		    }
		}
	}
}
.max-width {
	.barber_container{
		.baber-heading{
			padding-bottom: 33px;
		}
	}
	.pricing-list-3 li{
		margin-bottom: 19px;
	}
}
.slick-counter-slide .slick-list .wpb_single_image{
	margin-bottom: 0;
}
.contact-shortcode .contact-form2 {
  margin: side-values(0 -15px);
}
.ult-carousel-wrapper.dots-2 .slick-dots li {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}
.slick-arrow-top .slick-next, .slick-arrow-top .slick-prev{
	color: #282828 !important; 
}
// Services
.service-page-2{
	position: relative;
	&:before {
	    content: "";
	    position: absolute;
	    height: 5px;
	    background: #f5f5f5;
	    #{$left}: 65px;
	    #{$right}: 65px;
	    top: 34px;
	}
	.icon_box_content{
		.icon_box::before, 
		.icon_box::after {
		  background: #ebebeb none repeat scroll 0 0;
		}
		.icon_box{
			background: $primary_color;
			color: #000;
			&:before{
			    border-#{$right}: 1px solid #fff;	
			}
			&:after{
				border-top: 1px solid #fff;
			}
		}
		.icon_box_title h3 {
		  color: #000 !important;
		  margin-bottom: 16px;
		  margin-top: 16px;
		  font-size: 32px;

		}
		.icon_box_desc > p {
		  line-height: 26px;
		  padding-bottom: 16px;
		  text-align: $left;
		  &:last-child{
		  	padding-bottom: 0;
		  }
		}
	}
}
.slick-arrow-top{
	.slick-prev {
	  #{$left}: 0 !important;
	  margin-top: 0 !important;
	  top: 16px;
	}
	.slick-next {
	  #{$right}: 0 !important;
	  margin-top: 0 !important;
	  top: 16px;
	}
}
.main-bg.ubtn-ctn-center .ubtn-text {
  letter-spacing: 0.35px;
  margin-#{$right}: 32px;
  margin-top: -3px;
}

@media (min-width: 1920px){ 
	.height-730:last-child{
		> .vc_column-inner{
			> .wpb_wrapper{
				padding: side-values(0 61px) !important;
			}
		} 
		.icon-box-container {
		  padding: side-values(0 23px) !important;
		}
	}
	.overflow-initial {
	  	.slick-next {
		  #{$right}: -60px;
		  color: #282828 !important;
		  &:hover{
		  	color: $primary_color !important;
		  }
		}
		.slick-prev {
		  #{$left}: -60px;
		  color: #282828 !important;
		  &:hover{
		  	color: $primary_color !important;
		  }
		}
	}
	.wpb_single_image.img-footer {
	  #{$left}: 23px;
	  position: absolute;
	  bottom: -115px;
	  z-index: 2;
	  display: block; 
	}
}
@media (min-width: 1367px){ 
	.slide-member{
		.slick-next {
		  #{$right}: -69px;
		}
		.slick-prev {
		  #{$left}: -69px; 
		}
	}
}
@media (max-width: 1366px){ 
	.slide-member{
		.slick-next {
		  #{$right}: -15px !important;
		}
		.slick-prev {
		  #{$left}: -15px !important;
		}
	}
	.appointment-8 .style-heading-3 {
	  max-width: 90%;
	}
}
@media (min-width: 1366px) and (max-width: 1550px){ 
	.max-width.wpb_column .barber_container, 
	.max-width.wpb_column .pricing-content.style3 {
	    max-width: 600px;
	    padding-#{$left}: 30px;
	}
}
@media (min-width: 1200px) and (max-width: 1550px){ 
	.ult_tabs {
		.ult_tabcontent{
			.pricing-content.style3 {
				  margin-#{$right}: 50px;
				  width: 300px;
				.pricing-box {
				  padding-#{$left}: 50px;
				  padding-#{$right}: 0;
				}
			}
		}
	}
	.height-805 .barber_container .baber-heading.style-heading-3 {
	  	padding-#{$left}: 50px;
		padding-#{$right}: 50px;
	}
	.wpb_single_image.pricing-abs-right {
	    bottom: -205px;
	}
}
@media (min-width: 1200px) and (max-width: 1365px){ 
	.wpb_text_column .title-member {
	  @include transform(rotate(-90deg) translateX(-357px) translateY(-303px));
	}
	.item_testimonial.text-center {
		width: 87%;
	}
	.slick-arrow{
		&.slick-next {
		  #{$right}: 0 !important;
		}
		&.slick-prev {
		  #{$left}: 0 !important;
		}
	}
	.max-width {
		.barber_container,
		.pricing-content.style3 {
			max-width: 550px;
	  		padding-#{$left}: 30px;
		}
		.barber_container .desc-title{
			width: 100%;
		}
	}
	.service-pricing .pricing-content.style3 .pricing-box {
	  padding-#{$left}: 50px;
	  padding-#{$right}: 50px;
	}
}
@media (min-width: 1366px){ 
	.item_testimonial.text-center {
		width: 78%;
	}
	.boxed .service-pricing .pricing-content.style3 .pricing-box {
	  padding-#{$left}: 30px;
	  padding-#{$right}: 30px;
	}
	.slick-default{
  		> button.btn-prev.slick-arrow {
  			#{$right}: -65px;
  		}
  		> button.btn-next.slick-arrow {
  			#{$left}: -65px;
  		}
  	}
  	.max-width {
		.barber_container,
		.pricing-content.style3 {
			max-width: 815px;
	  		padding-#{$left}: 80px;
		}
		.barber_container .desc-title{
			width: 100%;
		}
	}
}
@media (min-width: 1200px){
	.box-text.about-9{
		max-width: 760px;
	}
}
@media (max-width: 1199px){ 
	.service-pricing{
		.pricing-content.style3 { 
		  .pricing-box{
		  	padding-#{$left}: 30px !important;
		  	padding-#{$right}: 30px !important;
		  }
		}
	}
	.wpb_single_image.pricing-abs-right{
		display: none;
	}
	.instagram-type2 .title-insta h2 {
	  letter-spacing: 50px;
	}
	.member-type2 .link-text {
	   @include transform(none);
	}
	.gallery-masonry_6 .image_size3, 
	.gallery-masonry_6 .image_size4,
	.gallery-masonry_6 .image_size, 
	.gallery-masonry_6 .image_size2 {
	  width: 33.3333%;
	}
	.gallery_filter.text-right,
	.gallery_filter.text-left  {
	  margin: side-values(0 -21px);
	}
}
@media (min-width: 992px) and (max-width: 1199px){ 
	.wpb_text_column .title-member {
	  @include transform(rotate(-90deg) translateX(-357px) translateY(-303px));
	}
	.height-900 .wpb_text_column .box-text {
	  padding-#{$left}: 100px;
	  padding-#{$right}: 50px;
	}
	.portfolio-5 .button-group {
	  padding-#{$left}: 16px;
	  padding-#{$right}: 16px;
	  margin: side-values(0 -20px);
	  	.inline-block {
		  padding: side-values(0 24px);
		}
	}
	.wpb_wrapper .barber_container.title-abs {
	  #{$left}: 50px; 
	}
	.height-730 .wpb_single_image {
	  bottom: -70px;
	}
	.pricing-sign{
		.btn{
		  padding: side-values(14px 9px);
		  width: 100%;
		  i{
		  	margin-#{$left}: 7px;
		  }
		}
	}
	.height-805 .barber_container .baber-heading.style-heading-3 {
	  	padding-#{$left}: 30px;
		padding-#{$right}: 30px;
	}
	.ult_tabs {
		.ult_tabcontent{
			.pricing-content.style3 {
				margin-#{$right}: 0;
				width: 275px;
				.pricing-box {
				  padding-#{$left}: 30px;
				  padding-#{$right}: 0;
				}
			}
		}
	}
	.max-width {
		.barber_container,
		.pricing-content.style3 {
			max-width: 480px;
	  		padding-#{$left}: 15px;
		}
		.barber_container .desc-title{
			width: 100%;
		}
	}
	.our-gallery-sc.filter-container .gallery_header {
	  padding-#{$right}: 15px;
	  width: auto;
	}
}
@media (min-width: 768px) and (max-width: 1024px){ 
	.instagram-type1 {
		.title-insta {
		  width: 32.1%;
		}
		.instagram-grid {
		  width: 76.5%;
		}
		.title-insta h2 {
		  padding-#{$right}: 15px;
		}
	}
	.list_add_to_cart a.product_type_variable {
	  margin-#{$left}: -7px;
	}
	.footer-newsletter.type1.newletter-2 .mc4wp-form{
		.submit:before{
			content: none;
		}
		[type="submit"] {
		  padding-#{$left}: 25px;
		  padding-#{$right}: 25px;
		}
	}
}
@media (max-width: 1024px){ 
	.title-spacing {
	  letter-spacing: 70px !important;
	}
	.border-slide {
	    height: 450px; 
	}
	.custom.tp-bullets{
		display: none;
	}
}
@media (min-width: 992px){ 
	.no-margin{
		margin: side-values(0);
	}
	.height-805 {
	    height: 805px;
	}
	.height-667{
		height: 667px;
		overflow: hidden;
	}
	.height-665{
		height: 665px;
		overflow: hidden;
	}
	.ie-11 .instagram-type1 .title-insta{
		#{$right}: 11%;
	}
	.box-testimonials.tes-8,
	.height-718{
		height: 718px;
		overflow: hidden;
		background: #f5f5f5;
	}
	.img-abs-right {
	  position: absolute;
	  #{$right}: 10px;
	  top: 5px;
	}
	.img-absolute {
	  bottom: -145px;
	  #{$left}: -128px;
	  position: absolute;
	}
	.barber_container.heading-abs {
	  position: absolute;
	  top: 0;
	}
	.custom-width-4.wpb_column{
		width: 41.6%;
	}
	.custom-width-8.wpb_column{
		width: 58.4%;
	}
	.barber_container.title-abs {
	  	#{$left}: 100px;
	 	position: absolute;
	}
	.no-padding {
	  	padding: side-values(0);
	  	> .vc_row {
		  	margin: side-values(0);
		  	> .vc_column_container > .vc_column-inner{
			    padding: side-values(0);
			}
	  	}
	  	> .vc_column-inner {
		  	padding: side-values(0) !important;
		}
	}
	.service-pricing {
	  max-width: 890px;
	}
	.member-image{
		height: 730px;
		img{
			display: none !important;
		}
	}
	.member-type2{
		.member-content {
		  	padding: side-values(94px 60px 80px 80px);
			height: 724px;
			margin-#{$left}: -60px;
		}
		.member-bottom{
			margin-top: 154px;
		}
	}
	.title-member {
	  	#{$left}: 0;
	  	position: absolute;
	  	top: 50%;
	  	@include transform(rotate(-90deg) translateX(-357px) translateY(-383px));
	  	z-index: 9;
		h2 {
		  font-size: 96px;
		  letter-spacing: 0.18em;
		}
	} 
	.height-900:first-child::before {
	  background: $primary_color;
	  content: "";
	  height: 900px;
	  position: absolute;
	  #{$right}: -130px;
	  top: 0;
	  transform: translateX($translateX);
	  width: 129px;
	  z-index: 1;
	}
	.height-900 .box-text {
	  padding-#{$left}: 177px;
	  padding-#{$right}: 108px;
	  padding-top: 95px;
	}
	.text-rotate {
	  #{$left}: 50%;
	  position: absolute;
	  top: 0;
	  @include transform(rotate(-90deg) translateX(-504px) translateY(-328px));
	  z-index: 11;
	}
	.height-730{
		&:last-child{
			> .vc_column-inner{
				> .wpb_wrapper{
					padding: side-values(0 15px);
				}
			} 
			.icon-box-container {
			  padding: side-values(0);
			}
			.icon_box_title h3 {
			  overflow: hidden;
			  text-overflow: ellipsis;
			  text-transform: uppercase;
			  white-space: nowrap;
			}
		}
		.wpb_single_image{
		  bottom: -132px;
		  #{$left}: 0;
		  position: absolute;
		  margin-bottom: 0;
		  z-index: 9;
		}
	}
	.margin-15{
		margin: side-values(0 15px);
	} 
	.box-text.box-3 .box-desc {
	  max-width: 90%;
	}
	.filter-container .gallery_header {
	  	margin: side-values(0 auto);
	  	width: 1140px;
	  	.gallery_filter {
		  margin: side-values(0 -34px);
		  text-align: $right;
		}
		.button-group {
		  padding-bottom: 93px;
		  padding-top: 35px;
		}
	}
	.ult_tabs.service-pricing{
	  	max-width: 100%;
	  	.ult_tabmenu.style3 {
		  border-bottom: medium none;
		  width: 257px;
		  #{$left}: -257px;
		  top: -97px;
	      position: absolute;
		}
	}
	.height-805{
		.baber-heading.style-heading-3{
		  padding-#{$left}: 97px;
		  padding-#{$right}: 100px;
		  padding-bottom: 40px;
		  .desc-title{
		  	margin-top: 21px;
		  }
		}
	}
	.ult_tabs{
		.ult_tabitemname{
			padding: side-values(0);
		}
		.ult_tabmenu.style3 > li.ult_tab_li{
			border-radius: corner-values(45px 0 0 45px) !important;
			display: block;
			height: 90px;
			margin-bottom: 3px;
			text-align: $left;
			width: 100%;
			&::before{
				content: none;
			}
			a {
			  display: block;
			  font-size: 26px;
			  height: 100%;
			  padding: side-values(30px 30px 30px 25px);
			  text-transform: uppercase;
			}
			.aio-icon.none.ult_tab_iconleft {
			  margin-#{$right}: 21px;
			}
		}
		.pricing-content.style3 {
		  	margin-#{$right}: 88px;
		  	width: 366px;
		  	&:last-child{
		  		margin-#{$right}: 0;
		  		.pricing-box {
				  padding-#{$right}: 0;
				}
		  	}
		  	.pricing-box {
			  padding-#{$left}: 84px;
			  padding-#{$right}: 0;
			}
		}
		.pricing-list-3 li .price-list{
			background: #f5f5f5;
		}
	}
	.pricing-abs-right {
	  bottom: -105px;
	  position: absolute;
	  #{$right}: 0;
	}
	.barber_container.title-abs.portfolio-title {
	    #{$left}: 15px;
	}
}
@media (max-width: 991px){ 
	.pricing-abs-right {
	  display: none;
	}
	.row.no-margin {
	  margin: side-values(0);
	}
	.member-image{
		background: none !important;
	}
	.title-member {
	  display: none;
	}
	.member-type2 .member-image {
	  margin-top: 0;
	}
	.baber-heading.style-heading-3.text-center .desc-title {
	  width: 100%;
	}
	.ult_tabs .pricing-list-3 li .price-list{
		background: #f5f5f5;
	}
	.appointment-8 .baber-heading.style-heading-3 {
	  max-width: 100%;
	}
	.banner-type1 {
		height: 600px;
		.banner-title{
			h2 {
			  font-size: 48px;
			}
			h3 {
			  font-size: 28px;
			}
		} 
	}
	.img-absolute {
	  bottom: 0;
	  margin: side-values(0);
	  position: absolute;
	}
	.member-type2 .no-padding{
		padding: side-values(0);
	}
	.no-padding .pricing-content.style2 .pricing-box{
		border: none;
	}
	.img-before {
	  margin-top: 45px;
	  margin-bottom: 0 !important;
	}
	.style-2 .member-info {
	  width: 100%;
	}
	.container-fluid.no-padding .apr_book_form form {
	  margin: side-values(0 -15px);
	}
	.footer-v2 .footer_info {
	  width: 100%;
	}
	.portfolio-5 .button-group {
	  margin: side-values(0 -18px);
	  padding-bottom: 50px;
	  padding-#{$left}: 0; 
	  padding-#{$right}: 0; 
	  margin: side-values(0);
	  text-align: $left;
	}
	.text-rotate h2{
		padding-#{$left}: 0;
	  	padding-#{$right}: 0;
	}
	.height-900{
		height: auto;
		.box-text {
		  padding: side-values(15px);
		}
	}
	.height-730 {
	    height: auto;
	}
	.member-bottom {
	  margin-top: 50px;
	}
	.member-type2 {
		.img-list {
		  margin-#{$left}:-3px;
		}
		.link-text {
		  margin-#{$left}: 10px;
		}
	}
	.banner-type4 .banner-mid p {
	  max-width: 100%;
	  padding: side-values(0 15px);
	}
	.slick-counter-slide {
		.slick-arrow{
			#{$right}: 45px;
			bottom: 15px;
			&.btn-prev {
			  #{$right}: 15px;
			}
		}
	}
	.slider-wrap-container .pagingInfo {
	  bottom: 45px;
	  #{$right}: 30px; 
	}
	.wpb_single_image.img-about-abs {
	  display: none;
	}
	.ult_tabmenu.style3 li.ult_tab_li > a.ult_a span {
	  text-transform: uppercase;
	}
	.style3 .ult_tabitemname {
	  padding: side-values(50px 0 0);
	}
	.gallery-masonry_6 .image_size3, 
	.gallery-masonry_6 .image_size4,
	.gallery-masonry_6 .image_size, 
	.gallery-masonry_6 .image_size2 {
	  width: 50%;
	}
}
@media (min-width: 768px){ 
	.contact-8 .wpcf7 {
	  height: 463px;
	  position: absolute;
	  top: 54px;
	  width: 453px;
	  z-index: 11;
	}
	.banner-type4{
		&:hover{
			.banner-img img{
				filter:grayscale(0);
				-ms-filter:grayscale(0);
				-moz-filter:grayscale(0);
				-webkit-filter:grayscale(0);
				-o-filter:grayscale(0);
			}		
		}
	}
	.height-900.wpb_column{
		height: 900px;
	}
	.pricing-content{
		&.style1{
			&.active{
				.pricing-box{
					-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
					-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.21);
					box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.21);
					z-index: 1;
					&:before{
						background: #fff;
						content: "";
						height: 20px;
						#{$left}: 0;
						position: absolute;
						top: 100%;
						width: 100%;
					}
					&:after{
						background: #fff;
						content: "";
						height: 20px;
						#{$left}: 0;
						position: absolute;
						bottom: 100%;
						width: 100%;
					}
					.price-box {
					  background: $primary_color;
					}
				}
			}
		}
		.pricing-list-1 span {
		  display: none;
		}
		&.style2{
			.pricing-box{
				z-index: 1;
				&:before{
					background: #fff;
					content: "";
					height: 20px;
					#{$left}: 0;
					position: absolute;
					top: 0;
					opacity: 0;
					width: 100%;
				}
				&:after{
					background: #fff;
					content: "";
					height: 20px;
					#{$left}: 0;
					position: absolute;
					bottom: 0;
					width: 100%;
					opacity: 0;
				}
				&:hover{
					-webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.22);
					-moz-box-shadow:    0px 0px 32px 0px rgba(0, 0, 0, 0.22);
					box-shadow:         0px 0px 32px 0px rgba(0, 0, 0, 0.22);
					z-index: 4;
				    border-color: transparent;
					&:before{
						top: -20px;
						opacity: 1;
					}
					&:after{
						bottom: -20px;
						opacity: 1;
					}
					.btn.btn-black{
						background: $primary_color;
						border-color: $primary_color;
					}
				}
			}
		}
	}
}
@media (max-width: 767px){ 
	
	.contact-8 {
		.wpcf7 {
		  display: block;
		  margin-top: 50px;
    	  margin-bottom: 50px;
		  padding: side-values(15px);
		}
		.wpcf7-form {
		  display: inline-block;
		  vertical-align: middle;
		  width: 100%;
		}
	}
	.gallery_filter.text-right,
	.gallery_filter.text-left  {
	  margin: side-values(0 -6px);
	}
	.logo9-abs.wpb_single_image {
	  top: 100px;
	  img{
	  	height: 100px;
	  	width: 100px;
	  }
	}
	.footer-v5 .form-footer {
	  margin-top: 0;
	}
	.height-730 .baber-heading {
		padding-#{$left}: 15px;
		padding-#{$right}: 15px;
	}
	.instagram-type2 .title-insta {
	  z-index: 99;
	}
	.portfolio-5 {
		.gallery_filter {
		  padding: side-values(0);
		}
		.button-group{
		  overflow: hidden;
		}
	}
	.text-rotate{
		display: none;
	}
	.baber-1.tp-bullets {
	  #{$left}: -30px !important;
	}
	.button-group {
	  width: 100%;
	}
	.filter-container .gallery_filter{
		padding: side-values(0);
	}
	.member-desc {
	  margin-bottom: 30px;
	}
	.appointment-8 .style-heading-3 {
	  max-width: 100%;
	}
	.item_testimonial.text-center {
	  width: 100%;
	}
	.instagram-type1 {
		.instagram-grid {
		  width: 100%;
		}
		.title-insta {
		  background: none;
		  height: auto !important;
		  padding: side-values(0);
		  position: absolute;
		  width: 100%;
		  z-index: 9;
		  h2{
		  	padding: side-values(0);
		  }
		}
		.instagram-img a i {
		  z-index: -1;
		}
	}
	.baber-heading.text-center .desc-title {
		width: 100%;
	}
	.wpb_single_image.logo-center {
		display: none;
	}
	.footer-newsletter.newletter-2 .mc4wp-form{
	  	label {
		  	margin-bottom: 30px;
		  	width: 100%;
		}
	  	.form-mail {
		  overflow: hidden;
		  padding-#{$left}: 0;
		  width: 100%;
		}
		.submit:before{
			content: none;
		}
		[type="submit"] {
		  padding-#{$left}: 15px;
		  padding-#{$right}: 15px;
		}
	}
	.blog-container .blog-item {
	    margin-bottom: 30px;
	}
	.grid-item:last-child .blog-item {
	    margin-bottom: 0;
	}
	.instagram-type2 .title-insta h2 {
	  font-size: 50px;
	  letter-spacing: 0.5em;
	}
	.border-slide {
	  display: none;
	}
	.tp-caption.title-spacing {
	  letter-spacing: 20px !important;
	}
	.text-rotate h2 {
	    font-size: 26px;
	}
	.stats-left .aio-icon-left{
		#{$left}: 0;
	}
	.stats-block .stats-text {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.barber-1.tp-bullets{
		#{$left}: -15px !important;
	}
	.stats-block.stats-left {
	    padding-#{$left}: 0;
	}
	.stats-left .stats-desc {
	  display: block;
	}
	.container .gallery_filter {
	  padding: side-values(0);
	}
	.custom-banner-1 .banner-type2 .banner-title h2 {
	  font-size: 50px;
	}
	.banner-content.banner-type5{
		.banner-img::before {
		  opacity: 0.3;
		  @include transform(none);
		}
		.banner-img {
			img {
			  @include transform(none);
			}
			.btn-plus {
			  @include transform(translate($translateX, -50%) scale(1));
			}
		}
	}
}
@media (max-width: 600px){ 
	.service-pricing .pricing-content.style3 {
	  width: 100%;
	  margin-bottom: 30px;
	  	h3{
	  		margin-bottom: 30px; 
	  	}
	  	.pricing-box {
		  padding: side-values(0) !important;
		}
	}
	.banner-type1 {
	  height: 400px;
	}
	.isotope.col-2.gallery-masonry_2 .item{
	  width: 100%;
	}
	.footer-newsletter.newletter-2 .mc4wp-form {
		.input, .submit{
			width: 100%;
		}
	}
	.footer-newsletter.newletter-2 .mc4wp-form .submit{
		margin-top: 20px;
	}
}
@media (max-width: 480px) and (max-width: 767px){ 
	.banner-type5 .banner-title {
	  margin: side-values(37px auto 0);
	  max-width: 80%;
	}
}
@media (max-width: 480px){ 
	.instagram-type2 .title-insta h2 {
	  font-size: 30px;
	  letter-spacing: 0.2em;
	}
	.text-rotate h2 {
	    font-size: 22px;
	}
	.ult_tabmenu.style3 > li.ult_tab_li a {
		.ult-span-text{
			display: none;
		}
		.aio-icon{
			font-size: 32px !important;
			padding: side-values(5px 10px);
		}
	}
	.custom-banner-1 .banner-type2 .banner-title h2 {
	  font-size: 44px;
	}
	.max-width .pricing-list-3 li {
		padding-#{$right}: 30px;
		.price-list {
		  position: absolute;
		  #{$right}: 0;
		  top: 0;
		}
		span:first-child::before{
			content: none;
		}
	}
	.btn_appointment {
	  clear: $left;
	  padding: side-values(0 15px);
	  #btn_appointment{
	  	width: 100%;
	  }
	}
	.gallery-masonry_6 .image_size3, 
	.gallery-masonry_6 .image_size4,
	.gallery-masonry_6 .image_size, 
	.gallery-masonry_6 .image_size2 {
	  width: 100%;
	}
	.gallery-masonry_6 .item:hover .gallery-desc {
	  #{$left}: 15px !important;
	}
	.gallery-masonry_7{
		.image_size, .image_size2{
			width: 100%;
		}
	}
}