// Make sure the charset is set appropriately
@charset "UTF-8";

$rtl: 1;
$dir: rtl !default;
$text_color: #3d3935;
$primary_color: #d19f68;
$highlight_color: #000000;
@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro-Regular.eot'); 
	src: url('../fonts/MyriadPro-Regular.otf')  format('opentype'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "theme/directional";
@import "theme/typography";
@import "theme/base/header";
@import "theme/base/header_responsive";
@import "theme/base/megamenu";
@import "theme/base/footer";
@import "theme/base/breadcrumb";
@import "theme/base/preloader";

@import "theme/content/home_4";
@import "theme/content/cart";
@import "theme/content/widget";
@import "theme/content/product";
@import "theme/content/single_product";
@import "theme/content/blog";
@import "theme/content/portfolio";
@import "theme/content/content";
@import "theme/content/home_3";
@import "theme/content/error_pages";
@import "theme/content/theme-responsive";             
// Custom Rtl
@import "theme/content/content_rtl";  