blockquote {
    position: relative;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize!important;
    letter-spacing: 0!important;
    // margin: 0 30px;
    text-align: left!important;
    .uk-icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    cite {
        display: block;
        color: #999;
        text-transform: capitalize;
        font-style: normal;
        text-decoration: none;
        letter-spacing: 0;
        line-height: 2em;
        margin-top: 10px;
        font-size: 1rem;
        letter-spacing: 0px !important;
    }
}
.entry {
	&-sticky {
		width: 30px;
		height: 30px;
		margin-bottom: 10px;
		display: none;
		align-items: center;
		justify-content: center;
		color: #fff;
		background-color: #726240;
		border-radius: 5px;
		@media (min-width: 1300px) {
			position: absolute;
			top: 0;
			right: 100%;
			margin-right: 10px;
			border-radius: 5px;
		}
	}
}
.sticky {
	&:first-child {
		.entry {
			&-sticky {
				display: flex;
			}
		}
	}
}