$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px;


.select-hidden {
     display: none;
     visibility: hidden;
     padding-right: 10px;
}
.de-select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #000;
    width: 100%;
    height: 2.4375rem;
}
.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 8px 15px;
    transition: all 0.2s ease-in;
    &:after {
        content:"";
        font-family: 'sobari';
        border: 7px solid transparent;
        border-color: transparent transparent transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
        transition: 420ms;
    }
    &:hover {
        // background-color: darken($select-background, 2);
    }
    &:active, &.active {
        // background-color: darken($select-background, 5);
        &:after {
            transform: rotate(180deg);
            border-color: transparent transparent transparent transparent;
        }
    }
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    height: 50vh;
    overflow-y: auto;
    li {
        margin: 0!important;
        padding: 12px 0;
        text-indent: 15px;
        // border-top: 1px solid darken($select-background, 10);
        transition: all 0.15s ease-in;
        &:hover {
            // color: $select-background;
            // background: $select-color;
        }
        &[rel="hide"] {
            display: none;
        }
    }
}
