.entry-categories {
	a {
		font-size: .875em;
		&::after {
			content: ',';
		}
		&:last-child {
			&::after {
				content: '';
			}
		}
	}
}

.entry-meta {
	margin: 30px 0 40px 0;
	>span {
		margin: 0 10px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	svg {
		width: 15px;
		vertical-align: text-bottom;
	}
	.separator {
		&:last-child {
			display: none;
		}
	}
}