.de-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	&__nav {
		&-btn {
			transform: none;
			opacity: 1;
			visibility: visible;
			transition: .3s;
		}
	}
	&__loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		&-text {
			transform: translateY(100%);
			opacity: 0;
			visibility: hidden;
			transition: .3s;
		}
	}
	&.hidden {
		.de-pagination {
			&__nav {
				&-btn {
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
			}
			&__loader {
				&-text {
					transform: none;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&[data-pagination-type="number"] {
		ul {
			margin: 0;
			li {
				list-style: none;
				display: inline-block;
				padding-left: 2px;
				padding-right: 2px;
				h5 {
					text-align: center;
					letter-spacing: 2px;
					width: 24px;
					padding-bottom: 12px;
					margin: 0;
				}
				a > [class^="df-"] {
					margin: 0;
				}
				&.active {
					h5 {
						border-bottom: 1px solid;
					}
				}
			}
		}
	}
	&[data-pagination-type="load-more"] {
		.de-pagination {
			&__nav {
				&-btn {
					margin: 0;
				}
			}
			&__loader {
				&-text {
					display: flex;
					align-items: center;
					justify-content: center;
					h5 {
						display: inline-block;
						margin: 0;
						margin-left: 10px;
						letter-spacing: 5px;
					}
					span {
						display: inline-block;
						width: 4px;
						height: 4px;
						background: #999;
						border-radius: 100em;
						margin: 0 3px;
						animation: loader-jugling 1s infinite;
						&:nth-child(1) {
							animation-delay: .6s
						}
						&:nth-child(2) {
							animation-delay: .4s
						}
						&:nth-child(3) {
							animation-delay: 0;
						}
					}
				}
			}
		}
	}
	&[data-pagination-type="infinity"] {
		.de-pagination {
			&__nav {
				&-btn {
					visibility: hidden;
					margin: 0;
				}
			}
			&__loader {
				&-text {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					h5 {
						display: inline-block;
						margin: 0;
						margin-left: 10px;
						letter-spacing: 5px;
					}
					span {
						display: inline-block;
						border: 3px solid #999;
						border-right: 3px solid #eee;
						width: 24px;
						height: 24px;
						border-radius: 100em;
						animation: loader-spin 1s infinite linear;
					}
				}
			}
		}
	}
}