@for $i from 0 through 12 {
    .m-t--#{$i} {
        margin-top: 10px * $i;
    }
    .m-r--#{$i} {
        margin-right: 10px * $i;
    }
    .m-b--#{$i} {
        margin-bottom: 10px * $i;
    }
    .m-l--#{$i} {
        margin-left: 10px * $i;
    }
    .p-t--#{$i} {
        padding-top: 10px * $i;
    }
    .p-r--#{$i} {
        padding-right: 10px * $i;
    }
    .p-b--#{$i} {
        padding-bottom: 10px * $i;
    }
    .p-l--#{$i} {
        padding-left: 10px * $i;
    }
}