.de-tags {
	margin: 0;
	li {
		display: inline-block;
		list-style-type: none;
		&:after {
			content: ',';
			margin: 0 5px 0 0;
		}
		&:last-child {
			&:after {
				content: '';
				margin: 0;
			}
		}
	}
}
.de-tags {
	clear: both;
	text-align: center;
	padding-top: 55px;
	li {
		padding-right: 17px;
		padding-bottom: 10px;
		&::after {
			content: ''
		}
		a {
			display: inline-block;
			border: 1px solid;
			padding: 0 18px;
		}
	}
}