$z-index: (
	button--outline-before: -1,
	button--slide-after: -1,
	dots-content-hover: 1,
	header-mini-cart-close: 1,
	sticky-topbar-shop: 1,
	button: 2,
	dots-label: 2,
	dots-label-hovered: 3,
	header-mini-cart: 98,
	header-off-canvas: 98,
	header-mini-cart-before: 98,
	megamenu: 98,
	sub-menu: 98,
	header-extend-vertical: 99,
	horizontal-header: 99,
	myaccount: 99,
	vertical-header-container: 100,
	vertical-header-bar: 101,
	modal-popup: 101,
	header-extend: 101,
	page-overlay: 100,
);