// Form - Mobile.
.elementor-widget-form.vamtam-has-theme-widget-styles {
	&.vamtam-booking-form {
		.e-form__indicators__indicator {
			flex-basis: auto;
			flex-direction: column;
		}
		.e-form__indicators__indicator__number {
			margin-bottom: 5px;
			margin-right: 0px;
		}
		.elementor-field-group {
			.elementor-field-label {
				max-width: 100%;
			}
		}
		.elementor-field-subgroup.elementor-subgroup-inline {
			.elementor-field-option {
				width: 100%;
			}
		}
	}

	// Patch for iOS+flatpicker issue with date/time form fields (mobile devices).
	.ios-safari & {
		input[type="date"],
		input[type="time"] {
			&.flatpickr-mobile {
				&::before {
					content: attr(placeholder);
					color: gray;
					padding: 14px 6px;
				}

				&:focus[value]:not([value=""])::before {
					display: none;
				}
			}
		}

		input[type="hidden"][value]:not([value=""]) {
			+ input[type="date"],
			+ input[type="time"] {
				&.flatpickr-mobile::before {
					opacity: 0;
					width: 0;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}
