body{
	font-size: 15px;
	font-family: 'Open Sans', Arial;
	color: #555555;
	font-weight: normal;
  margin: side-values(0);
}
$tablet-width: 768px;
$desktop-width: 1200px;
$loader-duration: 1.2s;
$loader-iteration-count: infinite;
$loader-direction: normal;
$body-bg: #55c1FA;
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($value) {
    -webkit-transition: all $value ease-in-out 0s !important;
    -moz-transition: all $value ease-in-out 0s !important;
    -ms-transition: all $value ease-in-out 0s !important;
    -o-transition: all $value ease-in-out 0s !important;
    transition: all $value ease-in-out 0s !important;
}
@mixin transitions($transitions){
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
@mixin animation($animation) {
     -moz-animation: $animation;
       -o-animation: $animation;
      -ms-animation: $animation;
  -webkit-animation: $animation;
          animation: $animation;
}
body, html {
  overflow-x: hidden;
    width: 100%;  
}
body #page{
  position: relative;
  #{$left}: 0;
  z-index: 9;
  @include transitions(all 0.3s ease-in-out 0s);
}
a{
  color: #000;
}
ins, del {
  text-decoration: none;
}
del {
  padding-#{$right}: 5px;
  span{
    text-decoration: line-through;
    color: #aaa !important;
  }
}
select::-ms-expand {
    display: none;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
}
.text-uppercase{
  text-transform: uppercase;
}

.scroll-to-top {
    background: $primary_color none repeat scroll 0 0;
    border: none;
    bottom: -100px;
    cursor: pointer;
    height: 35px;
    line-height: 25px;
    padding: side-values(3px);
    position: fixed;
    #{$right}: 25px;
    text-align: center;
    width: 35px;
    z-index: 99999;
    color: #fff;
    border-radius: corner-values(5px);
    i{
      line-height: 25px;
    }
    &:hover{
      color: #fff;
      background: #000;
    }
}
//remove x button in ie
input[type=text]::-ms-clear {
    display: none;
}
.display-inline-b{
  display: inline-block;
  vertical-align: middle;
}
.animated {
  &.animated_heading{
    visibility: hidden;
  }
  &.visible{
    visibility: visible;
  } 
}
.ult-animation {
  .animated{
    visibility: visible;
  }
}
// Theme unit test
.blog_post_desc > .entry-content,.comment-bottom .profile-desc, article.type-page > .entry-content,
.post-single .blog_post_desc {
  > h1{
    font-size: 48px;
    margin: side-values(33px 0);
  }
  > h1 + h2{
    margin: side-values(18px 0);
  }
  > h3{
    margin: side-values(15px 0);
  }
  > h4, > h5, >h6{
    margin: side-values(12px 0);
  }
  > h2{
    margin-bottom: 25px;
    margin-top: 25px;   
  }
  > dl{
    margin: side-values(0 20px);  
    dd {
      margin: side-values(0 0 20px);
    }
  }
  > table{
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: side-values(0 0 20px);
    width: 100%;
    td{
        padding: side-values(6px 10px 6px 0);  
        border-top: 1px solid #ededed;    
        a{
            color: #000;
            &:hover{
              color: $primary_color;
            }  
        }
    }
    // th{
    //     min-width: 100px;
    // }
    thead th{
        text-transform: uppercase;
        padding-bottom: 10px;  
    }
  }
}
.entry-content{
  > .vc_row{
    >.vc_column_container>.vc_column-inner{
      padding-#{$left}:0; 
       padding-#{$right}:0;
    }
  }
}
.home.blog{
  #main{
    padding-top: 70px;
  }
  .fixed-header #main {
      padding-top: 160px;
  }  
}
.sticky_post{
  color: $primary_color;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
}
  .post-password-form {
    input[type="password"]{
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border-bottom: 1px dashed rgba(137, 137, 137, 0.5);
      color: #a1a1a1;
      font-family: 'Open Sans', Arial;
      font-size: 14px;
      width: 100%;  
    }
    label{    font-weight: normal;}
    input[type="submit"]{
      padding: side-values(9px 28px);
      background: $primary_color;
      color: #fff;
      text-transform: uppercase;
      vertical-align: bottom;
      margin-bottom: 4.5px;
    }
  }
.comment-nav-links{
  padding-bottom: 15px;
  .comment-nav-next a{
    font-size: 14px;
    text-transform: uppercase;
    color: #000;      
    &:after{
      content: "\f054";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      padding-#{$left}: 5px;
      font-size: 10px;
      vertical-align: middle;        
    }
  }
  .comment-nav-previous a{
    font-size: 14px;
    text-transform: uppercase;
    color: #000;       
     &:before{
      content: "\f053";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      padding-#{$right}: 5px;
      font-size: 10px;
      vertical-align: middle;      
    }
  }
}
 
.active-sidebar .widget_nav_menu ul#menu-testing-menu li ul{
    padding-#{$left}: 16px; 
}
table {
    width: 100%;
}
table, table td {
    padding: side-values(0);
    border: none;
    border-collapse: separate;
}
iframe{max-width: 100%; border: none;}
a, .widget_categories li a::before,
.widget_product_categories li a::before,
.open-menu-mobile, .close-menu-mobile,
.instagram-container li a::after,
.instagram-container li a::before,
.pricing-box,
.pricing-box::after,
.pricing-box::before{
	@include transitions(all .3s ease-out);
}
.vc_btn3 i{
  @include transitions(all .2s ease-out);
}
  ul, menu, dir {
    display: block;
    list-style-type: disc;
    padding: side-values(0 0 0 40px);
  }
  li > ul, li > ol {
    margin: side-values(0);
}
  ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
  }
  ul, ol {
    margin-top: 0;
  }
  li {
      display: list-item;
      text-align: -webkit-match-parent;
  }
  ol {
      display: block;
      list-style-type: decimal;
      padding: side-values(0 0 0 40px);
  }
  ul ul, ol ul {
      list-style-type: circle;
  }
  ol ol ul, ol ul ul, ul ol ul, ul ul ul {
      list-style-type: square;
  }
  li{
    background: transparent;
    border: 0 none;
    font-weight: inherit;
    margin: side-values(0);
    border: 0;
    padding: side-values(auto);
    outline: 0;
    vertical-align: top;
  }
.alignright {
  display: inline;
  float: $right;
  margin-#{$left}: 10px;
  margin-bottom: 10px;
}
.aligncenter {
    display: block;
    margin-#{$right}: auto;
    margin-#{$left}: auto;
}
figure.wp-caption.alignleft, img.alignleft {
    margin: side-values(5px 20px 5px 0);
}
.alignleft {
    float: $left;
}
.blog_post_desc .entry-content{
  menu, ol, ul {
      margin: side-values(16px 0);
  }
  li > ul, li > ol {
    margin: side-values(0);
  }
  > table{
    padding-bottom: 20px;
  }
}
.wrapper {
    min-height: 500px;
}
.wp-caption{max-width: 100%;}
.active-sidebar,#thumbs_list_frame,
.isotope,.media,.vertical_list,.image_list,.woocommerce,
.instagram-gallery{
  ul, menu, dir {
    list-style-type: none;
    padding-#{$left}: 0;
  }
}
.commentlist{
  list-style-type: none;
  padding-#{$left}: 0;
  ul.children{
     list-style-type: none; 
  }
}
a:focus,
a:hover{
	color: $primary_color;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none !important;
}

h1,h2,h3,h4,h5,h6{
	color:#000;
	margin: side-values(0);
	line-height: 100%;
	font-weight: 400;
  font-family: Oswald;
}
h1{
	font-size:36px;
}
h2{
	font-size:32px;
}
h3{
	font-size:20px;
}
h4{
	font-size:18px;
}
h5{
	font-size:16px;
}
h6{
  font-size:14px;
}
p{
	line-height: 24px;
}
img{
	max-width:100%;
	height: auto;
}
button{
	&:focus,
	&:active,
	&:active:focus, 
	&:focus:active{
		outline: none !important;
	}
}
input, textarea{
  background: #f5f5f5 none repeat scroll 0 0;
  padding: side-values(17px 29px 16px);
  border: medium none;
  color: #707070;
  box-shadow: none;
}
input:focus,
textarea:focus{
	outline: none !important;
}
input{
	line-height: normal;
    border-radius: corner-values(0);
}
figure {
  position: relative;
}
.aligncenter {
    display: block;
    margin-#{$right}: auto;
    margin-#{$left}: auto;
}
figure.wp-caption.alignleft, img.alignleft {
    margin: side-values(5px 20px 5px 0);
}
.has-overlay{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top:0;
    #{$left}: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0.6);
  }
}
.alignleft {
    float: $left;
}
.container,.main-sidebar{
	.container{
		width: auto;
		padding-#{$left}: 0;
		padding-#{$right}: 0;
	}
}
.w-auto{width: auto !important;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: side-values(0);
}
input,
textarea{
  border-radius: corner-values(0);
}
select {
  	-webkit-appearance: none;
 	-moz-appearance: none;
 	-ms-appearance: none;
  	-o-appearance: none;
  	appearance: none;
  	border-radius: corner-values(0);
  	height: 40px;
 	text-transform: capitalize;
	overflow: hidden;
	padding: side-values(0 0 0 10px);
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
  outline: none;
    background: url(../images/caret-down.png) no-repeat $right center;
    border: none;
    padding-#{$left}: 0;
    color: #777;
    font-size: 14px;
    &:focus{
      outline: none;
    }
}
.input-text::-ms-input-placeholder {  
   opacity: 1;
}
.input-text::-moz-placeholder {  
   opacity: 1;
}
.input-text::-o-placeholder {  
   opacity: 1;
}
.input-text::-webkit-input-placeholder { 
   opacity: 1;
}
.textarea::-ms-input-placeholder {  
   opacity: 1;
}
.textarea::-moz-placeholder {  
   opacity: 1;
}
.textarea::-o-placeholder {  
   opacity: 1;
}
.textarea::-webkit-input-placeholder { 
   opacity: 1;
}
.wpcf7-submit{
  text-transform: uppercase;
  color: #fff;
  padding-#{$left}: 31px;
  padding-#{$right}: 29px;
  width: 100%;
  letter-spacing: 1px;
  vertical-align: top;
  background: $primary_color;
  font-weight: 600;
  &:hover{
    background: #000;
  }

}
.hover-link{
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  display: inline-block;
  &.type1{
    color: #888;
    text-transform: uppercase;
    &:hover{
      color: $primary_color;
    }

  }
  &.type2{
    font-size: 14px;
    font-weight: 500;
    color: $primary_color;
    position: relative;
    padding-#{$left}: 62px;
    &:before{
      content: "";
      position: absolute;
      height: 1px;
      width: 45px;
      top: 50%;
      #{$left}:0;
      background: $primary_color;
      @include transition (all 0.3s ease-in-out 0s);
    }
    &:hover{
      color: #000;
      padding-#{$left}: 72px;
      &:before{
        width: 55px;
        background: #000;
      }
    }
  }
 }
 .btn{
   width: auto;
    text-transform: uppercase;
    padding: side-values(14px 25px);
    border-radius: corner-values(0);
    font-size: 14px;
    font-weight: 500;
    border:none;
    font-family: Oswald;
    line-height: 20px;
    @include transitions (all 0.3s ease-in-out 0s); 
    &:hover,&:focus{
       @include transitions (all 0.3s ease-in-out 0s);
    }
    &.btn-default{
      background: none;
      border:1px solid $primary_color;
      color: $primary_color;
      &:hover,&:focus, &:active{
        background: $primary_color;
        color: #fff;
      }
    }
    &.btn-primary{
      background:$primary_color;
      border: 1px solid $primary_color;
      color: #000;
      i{
        margin-#{$left}: 14px;
      }
      &:hover,&:focus, &:active{
        background: #000;
        border-color:#000;
        color: #fff;
      } 
    }
    &.btn-black{
      background: none;
      color: #000;
      padding: side-values(14px 25px);
      border: 1px solid #000;
      i{
        margin-#{$left}: 15px;
      }
     &:hover,&:focus, &:active{
        background: $primary_color;
        border-color:$primary_color;
        color: #000;
      }
    }
    &.btn-secondary{
      background:$highlight_color;
      color: $primary_color;
      border-color:$highlight_color;
      &:hover,&:focus, &:active{
        background: $primary_color;
        color: #000;
        border-color: $primary_color;
      } 
    }
    &.btn-icon i{
      margin-#{$left}: 18px;
    }
    &.btn-white{
      background: #fff;
      color: #000;
      border-color: #fff;
        &:hover,&:focus, &:active{
        background: #000;
        color: #fff;
        border-color: #000;
      } 
      &.btn-icon i{
        margin-#{$left}: 14px;
      }
    }
 }
.list-items ul, .list-items ol {
  padding-#{$left}: 0; }
  .list-items ul li, .list-items ol li {
    line-height: 24px; }

.list-items.style1 li,
.list-items.style2 li,
.list-items.style3 li {
  position: relative;
  list-style-type: none; }
  .list-items.style2 li:before,
  .list-items.style3 li:before {
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 15px;
    top: 50%;
    #{$left}: -22px;
    margin-top: -8px; }

.list-items.style2 {
   padding-#{$left}:17px;
  li:before {
  content: "\e684"; }
}

.list-items.style3 {
   padding-#{$left}:17px;
  li:before {
  content: "\e66c"; }
}

.list-items.style4 {
  padding-#{$left}:17px;
  li {
  list-style-type: square; }
}

.list-items.style5 {
   padding-#{$left}:17px;
  li {
  list-style-type: disc; }
}

.list-items.style6 {
   padding-#{$left}:17px;
  li {
  list-style-type: decimal; }
}

.list-items.style1{
  list-style-type: none;
  padding-#{$left}:17px;
  margin-bottom: 12px;
  li{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      height: 4px;
      width: 4px;
      background: $primary_color;
      #{$left}:-18px;
      top:11px;
    }
  }
}
.form-row input, .form-row .placeholder,
.form-row textarea {
    background: none;
    border: 1px solid #ebebeb;
    color: #555;
    padding: side-values(15px 22px);
    width: 100%;
    line-height: normal;
    width: 100%;
    font-size: 14px;
}

.tp-revslider-slidesli .btn{
	-webkit-transition: all 0.3s ease-in-out 0s !important;
 	-moz-transition: all 0.3s ease-in-out 0s !important;
 	-ms-transition: all 0.3s ease-in-out 0s !important;
 	-o-transition: all 0.3s ease-in-out 0s !important;
 	transition: all 0.3s ease-in-out 0s !important;
}

.col-xs-55,
.col-sm-55,
.col-md-55,
.col-lg-55 {
    position: relative;
    min-height: 1px;
    padding-#{$right}: 15px;
    padding-#{$left}: 15px;
}
.col-xs-55 {
    width: 20%;
    float: $left;
}
@media (min-width: 768px) {
 .col-sm-55 {
        width: 20%;
        float: $left;
    }
}
@media (min-width: 992px) {
    .col-md-55 {
        width: 20%;
        float: $left;
    }
}
@media (min-width: 1200px) {
    .col-lg-55 {
        width: 20%;
        float: $left;
    }
}
.bg-primary{
  background: $primary_color;
}
.title-custom {
  clear: $left;
}
.main-bg_color,
.main-bg_color.ult-content-box-container,
.main-bg_color > .vc_column-inner,
.main-bg_color > .upb_row_bg, .main-bg_color.vc_row{
    background-color: $primary_color;
}
.baber-heading {
  overflow: hidden;
  padding-bottom: 42px;
  .header_icon{
    color: $primary_color;
    margin-bottom: 12px;
  }
  h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    color: #000;
    font-size: 32px;
    text-transform:uppercase;
  }
  h3{
    font-size: 20px;
  }
  .desc-title{
    color:#555;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 21px;
  }
  &.text-center{
    .desc-title{
      width: 80%;
      margin: side-values(21px auto 0);
    }
  }
  &.style-heading-2{
    h1,h2,h3,h4,h5,h6{
      letter-spacing: -0.2px;
    }
    .header_icon{
      display: inline-block;
      position: relative;
      margin-top: 18px;
      margin-bottom: 0;
      &:before{
        content: "";
        height: 1px;
        width: 40px;
        position: absolute;
        #{$left}:52px;
        top:15px;
        background: -moz-linear-gradient(0deg, $primary_color 0%, rgba(255,255,255,0.1) 100%);
        background: -webkit-gradient(linear, $left top, $right top, color-stop(0%, $primary_color), color-stop(100%, rgba(255,255,255,0.1)));
        background: -webkit-linear-gradient(0deg, $primary_color 0%, rgba(255,255,255,0.1) 100%); 
        background: -o-linear-gradient(0deg, $primary_color 0%, rgba(255,255,255,0.1) 100%); 
        background: -ms-linear-gradient(0deg, $primary_color 0%, rgba(255,255,255,0.1) 100%); 
        background: linear-gradient(90deg, $primary_color 0%, rgba(255,255,255,0.1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary_color', endColorstr='rgba(255,255,255,0.1)',GradientType=1 ); 
      }
       &:after{
        content: "";
        height: 1px;
        width: 40px;
        position: absolute;
        #{$right}:52px;
        top:15px;
         background: -moz-linear-gradient(0deg, $primary_color 0%, rgba(255,255,255,0.1) 100%);
        background: -webkit-gradient(linear, $left top, $right top, color-stop(0%, $primary_color), color-stop(100%, rgba(255,255,255,0.1)));
        background: -webkit-linear-gradient(0deg, $primary_color 0%, rgba(255,255,255,0.1) 100%); 
        background: -o-linear-gradient(0deg, $primary_color 0%, rgba(255,255,255,0.1) 100%); 
        background: -ms-linear-gradient(0deg, $primary_color 0%, rgba(255,255,255,0.1) 100%); 
        background: linear-gradient(-90deg, $primary_color 0%, rgba(255,255,255,0.1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary_color', endColorstr='rgba(255,255,255,0.1)',GradientType=1 ); 
      }
    }
  }
  &.style-heading-3{
    padding-bottom: 50px;
    h1,h2,h3,h4,h5,h6{
      display: inline-block;
      position: relative;
      z-index: 9;
      padding: side-values(34px 0 35px 37px);
      &::before {
        background: #ebebeb none repeat scroll 0 0;
        content: "";
        height: 100%;
        #{$left}: 0;
        position: absolute;
        top: 0;
        width: 100px;
        z-index: -1;
      }
    }
    .desc-title {
      margin-top: 15px;
      font-size: 15px;
    }
    &.text-center{
      h1,h2,h3,h4,h5,h6{
        float: $left;
        text-align: $left;
      }
      .desc-title{
        float: $right;
        text-align: $left;
        width: 66.6667%;
        margin-top: 25px;
        font-size: 14px;
      }
    } 
  }
}

// Slick slide control
.slick-default{
  > .btn-prev.slick-arrow {
    border: medium none;
    font-size: 30px;
    height: 30px;
    padding: side-values(0);
    position: absolute;
    background: none;
    #{$right}: -15px;
    top: 50%;
    @include transform(translateY(-50%));
    width: 45px;
    color: #282828;
    z-index: 9;
    &:hover{
      color: $primary_color;
    }
  }
  > .btn-next.slick-arrow {
    border: medium none;
    font-size: 30px;
    height: 30px;
    background: none;
    padding: side-values(0);
    position: absolute;
    #{$left}: -15px;
    top: 50%;
    @include transform(translateY(-50%));
    width: 45px;
    color: #282828;
    z-index: 9;
    &:hover{
      color: $primary_color;
    }
  }
}

.slick-default{
  .slick-dots{
    li{
      height: 4px;
      width: 15px;
      &.slick-active{
        background: $primary_color;
      }
    }
    button{
      padding: side-values(0);
      height: 4px;
      width: 15px;
      background: none;
      &:before{
        content: none;
      }
    }
  }
}


//twitter
.twitter-tweet{
  font-size: 13px;
  margin-top: 23px;
  i{
    font-size: 16px;
    color: #00baff;
    float: $left;
    padding-top: 6px;
  }
  .tweet-text{
    margin-top: -7px;
    overflow: hidden;
    padding-#{$left}: 26px;
    color: #303030;
    line-height: 22px;
  }
  a{
    color: #00baff;
  }
  .my-date{
    color: #c5c5c5;
  }
}
//instagram
.instagram-container {
  li{
    display: inline-block;
    float: $left;
    width: 20%;
    a{
      width: 100%;
      display: inline-block;
      position: relative;
      &:before{
        position: absolute;
        content: "";
        top: 0;
        #{$left}: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        @include transform(scale(0));
        background: $primary_color;
      }
      &:after{
        position: absolute;
        content: "\f16d";
        width: 100%;
        height: 100%;
        font-family: FontAwesome;
        text-align: center;
        top: 50%;
        width: 100%;
        #{$left}: 0;
        font-size: 36px;
        opacity: 0;
        color: #fff;
        @include transform(scale(0));
        margin-top: -11px;

      }
      &:hover{
        &:before, &:after{
          opacity: 0.8;
          @include transform(scale(1));
        }
      }
      img{
        width: 100%;
      }
    }
  }
}
.footer-gallery{
  overflow: hidden;
  margin-bottom: 0;
}
//facebook
.block_content .fb_followers li{
  float: $left;
  .fb_name{
    display: none;
  }
}
.block_content .fb_followers li a, .block_content .fb_followers li span {
    background-color: rgba(255,255,255,0.2)!important;
    display: block;
    width: 60px;
    height: 60px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/*hvr-pulse*/
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  top: 0;
  #{$left}: 0;
  #{$right}: 0;
  bottom: 0;
  opacity: 0.8;
  background: #212425;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
div.wpcf7-response-output{
  padding: side-values(8px 8px 8px 40px);
  border-radius: corner-values(4px);
  margin-#{$right}:0;
  margin-#{$left}:0;
  float: $left;
  width: 100%;
  text-align: $left;
}
.wpcf7-response-output{
  position: relative;
  &:before{
    position: absolute;
    font-family: FontAwesome;
    #{$left}: 15px;
    top: 9px;
  }
  &.wpcf7-mail-sent-ok {
    background: #e0f2d9 none repeat scroll 0 0;
    border: 2px solid #e0f2d9;
    color: #58a839;
    &:before{
      content: "\f00c";
    }
  }
  &.wpcf7-mail-sent-ng{
    background: #ecf1f9 none repeat scroll 0 0;
    border: 2px solid #ecf1f9;
    color: #3d6ebf;
    &:before{
      content: "\f00c";
    }
  }
  &.wpcf7-validation-errors {
    background: #ffecec none repeat scroll 0 0;
    border: 2px solid #ffecec;
    color: #df6060;
    &:before{
      content: "\f129";
    }
  }
  &.wpcf7-spam-blocked {
    background: #fdf9df none repeat scroll 0 0;
    border-color: #fdf9df;
    color: #eb9b0a;
    &:before{
      content: "\f071";
    }
  }
}
.mc4wp-response{
  position: relative;
  .mc4wp-alert{
    padding: side-values(8px 8px 5px 40px);
    font-size: 13px;
    margin-top: 10px;
    border-radius: corner-values(4px);
    text-align: $left;
    position: relative;
    float: $left;
    &:before{
      position: absolute;
      font-family: FontAwesome;
      #{$left}: 20px;
      top: 9px;
    }
  }
  .mc4wp-success{
    background: #e0f2d9 none repeat scroll 0 0;
    border: 2px solid #e0f2d9;
    color: #58a839;
    &:before{
      content: "\f00c";
    }
  }
  .mc4wp-error { 
    background: #ffecec none repeat scroll 0 0;
    border: 2px solid #ffecec;
    color: #df6060;
    &:before{
      content: "\f129";
    }
  }
}
.woocommerce-account .wrapper{
  min-height: auto
}
.btn-type{
  margin-bottom: 30px;
}
.no-results .not-found-title{
      margin-bottom: 30px;
}
.btn.btn-white {
    background: none;
    border: 1px solid #fff;
    color: #fff;
}
body{
  h1, h2, h3, h4, h5, h6{
    margin: 0;
  }
}
body figure {
    margin: 0;
}