body {
--vamtam-body-link-regular:#000000;
--vamtam-body-link-visited:#000000;
--vamtam-body-background-color:#FAFAFA;
--vamtam-input-border-radius:0px 0px 0px 0px;
--vamtam-input-border-color:#00000026;
--vamtam-btn-text-color:#FFFFFF;
--vamtam-btn-hover-text-color:#DDD8D4;
--vamtam-btn-bg-color:#191919;
--vamtam-btn-hover-bg-color:#000000;
--vamtam-site-max-width:1280px;
--vamtam-primary-font-color:#191919;
--vamtam-h1-color:#191919;
--vamtam-h2-color:#191919;
--vamtam-h3-color:#191919;
--vamtam-h4-color:#191919;
--vamtam-h5-color:#191919;
--vamtam-h6-color:#191919;
--vamtam-accent-color-1:#191919;
--vamtam-accent-color-1-hc:#FFFFFF;
--vamtam-accent-color-1-rgb:25,25,25;
--vamtam-accent-color-2:#DDD8D4;
--vamtam-accent-color-2-hc:#000000;
--vamtam-accent-color-2-rgb:221,216,212;
--vamtam-accent-color-3:#00000033;
--vamtam-accent-color-3-hc:#FFFFFF;
--vamtam-accent-color-3-rgb:0,0,0;
--vamtam-accent-color-4:#FAFAFA;
--vamtam-accent-color-4-hc:#000000;
--vamtam-accent-color-4-rgb:250,250,250;
--vamtam-accent-color-5:#FFFFFF;
--vamtam-accent-color-5-hc:#000000;
--vamtam-accent-color-5-rgb:255,255,255;
--vamtam-accent-color-6:#000000;
--vamtam-accent-color-6-hc:#FFFFFF;
--vamtam-accent-color-6-rgb:0,0,0;
--vamtam-accent-color-7:#00000026;
--vamtam-accent-color-7-hc:#FFFFFF;
--vamtam-accent-color-7-rgb:0,0,0;
--vamtam-accent-color-8:#FFFFFF4D;
--vamtam-accent-color-8-hc:#000000;
--vamtam-accent-color-8-rgb:255,255,255;
--vamtam-sticky-header-bg-color:#0F0F0F;
--vamtam-primary-font-font-family:'Helvetica';
--vamtam-primary-font-font-weight:400;
--vamtam-primary-font-font-size-desktop:16px;
--vamtam-primary-font-font-size-tablet:16px;
--vamtam-primary-font-font-size-phone:18px;
--vamtam-primary-font-line-height-desktop:1.6;
--vamtam-primary-font-line-height-tablet:1.6;
--vamtam-primary-font-line-height-phone:1.6;
--vamtam-h1-font-family:'Inter Tight';
--vamtam-h1-font-weight:400;
--vamtam-h1-transform:none;
--vamtam-h1-font-size-desktop:56px;
--vamtam-h1-font-size-tablet:40px;
--vamtam-h1-font-size-phone:36px;
--vamtam-h1-line-height-desktop:1.2;
--vamtam-h1-line-height-tablet:1.2;
--vamtam-h1-line-height-phone:1.2;
--vamtam-h2-font-family:'Inter';
--vamtam-h2-font-weight:400;
--vamtam-h2-font-style:normal;
--vamtam-h2-transform:none;
--vamtam-h2-font-size-desktop:48px;
--vamtam-h2-font-size-tablet:32px;
--vamtam-h2-font-size-phone:32px;
--vamtam-h2-line-height-desktop:1.2;
--vamtam-h2-line-height-tablet:1.2;
--vamtam-h2-line-height-phone:1.2;
--vamtam-h3-font-family:'Inter Tight';
--vamtam-h3-font-weight:400;
--vamtam-h3-transform:none;
--vamtam-h3-font-size-desktop:30px;
--vamtam-h3-font-size-tablet:24px;
--vamtam-h3-font-size-phone:24px;
--vamtam-h3-line-height-desktop:1.3;
--vamtam-h3-line-height-tablet:1.3;
--vamtam-h3-line-height-phone:1.3;
--vamtam-h4-font-family:'Inter Tight';
--vamtam-h4-font-weight:400;
--vamtam-h4-transform:none;
--vamtam-h4-font-size-desktop:24px;
--vamtam-h4-font-size-tablet:22px;
--vamtam-h4-font-size-phone:22px;
--vamtam-h4-line-height-desktop:1.4;
--vamtam-h4-line-height-tablet:1.4;
--vamtam-h4-line-height-phone:1.4;
--vamtam-h5-font-family:'Inter Tight';
--vamtam-h5-font-weight:400;
--vamtam-h5-font-size-desktop:20px;
--vamtam-h5-font-size-tablet:20px;
--vamtam-h5-font-size-phone:20px;
--vamtam-h5-line-height-desktop:1.2;
--vamtam-h5-line-height-tablet:1.2;
--vamtam-h5-line-height-phone:1.2;
--vamtam-h5-letter-spacing-tablet:0px;
--vamtam-h5-letter-spacing-phone:0px;
--vamtam-h6-font-family:'Inter Tight';
--vamtam-h6-font-weight:500;
--vamtam-h6-font-size-desktop:16px;
--vamtam-h6-font-size-tablet:16px;
--vamtam-h6-font-size-phone:16px;
--vamtam-h6-line-height-desktop:1.2;
--vamtam-h6-line-height-tablet:1.2;
--vamtam-h6-line-height-phone:1.2;
--vamtam-icon-knife:'\e90b';
--vamtam-icon-mustage:'\e90c';
--vamtam-icon-percent:'\e900';
--vamtam-icon-bag:'\e90d';
--vamtam-icon-arrow-right-top:'\e901';
--vamtam-icon-quote:'\e902';
--vamtam-icon-star-font:'\e903';
--vamtam-icon-arrow-top:'\e904';
--vamtam-icon-arrow-bottom:'\e905';
--vamtam-icon-arrow-left:'\e910';
--vamtam-icon-arrow-right:'\e90f';
--vamtam-icon-close:'\e906';
--vamtam-icon-menu:'\e90a';
--vamtam-icon-plus:'\e907';
--vamtam-icon-add-to-cart:'\e909';
--vamtam-icon-minus:'\e908';
--vamtam-form_field_border_border:solid;
--vamtam-form_field_border_width:1px 1px 1px 1px;
--vamtam-form_field_focus_border_border:solid;
--vamtam-form_field_padding:14px 14px 14px 14px;
--vamtam-form_field_border_radius:0px 0px 0px 0px;
--vamtam-form_label_typography_font_family:Inter Tight;
--vamtam-form_label_typography_font_weight:500;
--vamtam-form_label_typography_text_decoration:none;
--vamtam-form_field_typography_font_size:14px;
--vamtam-form_field_typography_font_size_mobile:16px;
--vamtam-form_field_typography_line_height:1.5em;
--vamtam-form_field_text_color:#191919;
--vamtam-form_field_background_color:#FFFFFF;
--vamtam-form_field_border_color:#00000026;
--vamtam-form_field_focus_text_color:#000000;
--vamtam-form_field_focus_border_color:#191919;
--vamtam-form_field_typography_font_size_tablet:px;
--vamtam-form_field_typography_line_height_tablet:em;
--vamtam-form_field_typography_line_height_mobile:em;
--vamtam-form_field_typography_letter_spacing:px;
--vamtam-form_field_typography_letter_spacing_tablet:px;
--vamtam-form_field_typography_letter_spacing_mobile:px;
--vamtam-form_field_typography_word_spacing:em;
--vamtam-form_field_typography_word_spacing_tablet:em;
--vamtam-form_field_typography_word_spacing_mobile:em;
}