.de-header-search {
	input[type="text"] {
		padding: 0;
		padding-bottom: 20px;
		border: 0;
		border-bottom-width: 1px;
		border-style: solid;
		opacity: .5;
		transition: .3s;
		&:focus {
			opacity: 1;
		}
		@media (min-width: $breakpoint-medium) {
			font-size: 3em;
			border-bottom-width: 2px;
		}
	}
}

.admin-bar {
	.uk-modal {
		top: 46px;
		@media (min-width: $breakpoint-medium) {
			top: 32px;
		}
	}
}