
//SKIN
//General
$general_bg_color: #ffffff;
$general_bg_image: url('');
$general_bg_repeat: no-repeat;
$general_bg_position: center center;
$general_bg_size: inherit;
$general_bg_attachment: inherit;
$general_font_family: Open Sans;
$general_font_weight: 400;
$general_font_size: 15px;
$general_font_color: #555555;
$general_line_height: 24px;
$primary_color: #d19f68;

$highlight_color: #000000;

//Footer

$footer_color: #d6d6d6;
//Breadcrumbs 1
$breadcrumb_bg_image:'';
$breadcrumb_bg_repeat: '';
$breadcrumb_bg_position: '';	
$breadcrumb_bg_size: cover;
$breadcrumb_bg_attachment: fixed;

//Typography
$h1_font_family: Oswald;
$h1_font_size: 40px;
$h1_font_color: #000000;
$h2_font_family: Oswald;
$h2_font_size: 30px;
$h2_font_color: #000000;
$h3_font_family: Oswald;
$h3_font_size: 20px;
$h3_font_color: #000000;
$h4_font_family: Oswald;
$h4_font_size: 18px;
$h4_font_color: #000000;
$h5_font_family: Oswald;
$h5_font_size: 16px;
$h5_font_color: #000000;
$h6_font_family: Oswald;
$h6_font_size: 14px;
$h6_font_color: #000000;