/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

.overflow-visible{
	overflow:visible !important;
}

.overflow-hidden{
	overflow:hidden !important;
}

.overflow-scroll{
	overflow:scroll !important;
}

.overflow-auto{
	overflow:auto !important;
}

@for $zIndexValue from 0 through 1 {

	.z-index-#{ $zIndexValue } {
		z-index:#{ $zIndexValue };
	}

}

.position-relative{
	position:relative;
}

.position-absolute{
	position:absolute;
}

.position-fixed{
	position:fixed;
}

.position-static{
	position:static;
}

.font-weight-black{
	font-weight:900;
}

.font-weight-extrabold{
	font-weight:800;
}

.font-weight-bold{
	font-weight:700;
}

.font-weight-semibold{
	font-weight:600;
}

.font-weight-medium{
	font-weight:500;
}

.font-weight-regular{
	font-weight:400;
}

.font-weight-light{
	font-weight:300;
}

.font-weight-thin{
	font-weight:100;
}

.font-style-italic{
	font-style:italic;
}

.text-decoration-line-through{
	text-decoration:line-through !important;
}

@for $LetterSpacingValue from -5 through 15 {

	.letter-spacing-#{ $LetterSpacingValue } {
		letter-spacing: #{ $LetterSpacingValue }px;
	}

}

.display-block{
	display:block;
}

.display-inline-block{
	display:inline-block;
}

.display-none{
	display:none;
}

.order-first{
	order:1;
}

.order-second{
	order:2;
}

.filter-grayscale-0{
	filter:grayscale(0);
}

.filter-grayscale-1{
	filter:grayscale(1);
}

.full-width-image *{
	width:100%;
}

div.background-position-left-top,
section.background-position-left-top,
h1.background-position-left-top,
h2.background-position-left-top,
h3.background-position-left-top,
h4.background-position-left-top,
h5.background-position-left-top,
h6.background-position-left-top,
.background-position-left-top > div,
.background-position-left-top > *{
	background-position:left top !important;
}

div.background-position-left-center,
section.background-position-left-center,
h1.background-position-left-center,
h2.background-position-left-center,
h3.background-position-left-center,
h4.background-position-left-center,
h5.background-position-left-center,
h6.background-position-left-center,
*.background-position-left-center > div,
*.background-position-left-center > *{
	background-position:left center !important;
}

div.background-position-left-bottom,
section.background-position-left-bottom,
h1.background-position-left-bottom,
h2.background-position-left-bottom,
h3.background-position-left-bottom,
h4.background-position-left-bottom,
h5.background-position-left-bottom,
h6.background-position-left-bottom,
*.background-position-left-bottom > div,
*.background-position-left-bottom > *{
	background-position:left bottom !important;
}

div.background-position-center-top,
section.background-position-center-top,
h1.background-position-center-top,
h2.background-position-center-top,
h3.background-position-center-top,
h4.background-position-center-top,
h5.background-position-center-top,
h6.background-position-center-top,
*.background-position-center-top > div,
*.background-position-center-top > *{
	background-position:center top !important;
}

div.background-position-center-center,
section.background-position-center-center,
h1.background-position-center-center,
h2.background-position-center-center,
h3.background-position-center-center,
h4.background-position-center-center,
h5.background-position-center-center,
h6.background-position-center-center,
*.background-position-center-center > div,
*.background-position-center-center > *{
	background-position:center center !important;
}

div.background-position-center-bottom,
section.background-position-center-bottom,
h1.background-position-center-bottom,
h2.background-position-center-bottom,
h3.background-position-center-bottom,
h4.background-position-center-bottom,
h5.background-position-center-bottom,
h6.background-position-center-bottom,
*.background-position-center-bottom > div,
*.background-position-center-bottom > *{
	background-position:center bottom !important;
}

div.background-position-right-top,
section.background-position-right-top,
h1.background-position-right-top,
h2.background-position-right-top,
h3.background-position-right-top,
h4.background-position-right-top,
h5.background-position-right-top,
h6.background-position-right-top,
*.background-position-right-top > div,
*.background-position-right-top > *{
	background-position:right top !important;
}

div.background-position-right-center,
section.background-position-right-center,
h1.background-position-right-center,
h2.background-position-right-center,
h3.background-position-right-center,
h4.background-position-right-center,
h5.background-position-right-center,
h6.background-position-right-center,
*.background-position-right-center > div,
*.background-position-right-center > *{
	background-position:right center !important;
}

div.background-position-right-bottom,
section.background-position-right-bottom,
h1.background-position-right-bottom,
h2.background-position-right-bottom,
h3.background-position-right-bottom,
h4.background-position-right-bottom,
h5.background-position-right-bottom,
h6.background-position-right-bottom,
*.background-position-right-bottom > div,
*.background-position-right-bottom > *{
	background-position:right bottom !important;
}

div.background-repeat-no-repeat,
section.background-repeat-no-repeat,
h1.background-repeat-no-repeat,
h2.background-repeat-no-repeat,
h3.background-repeat-no-repeat,
h4.background-repeat-no-repeat,
h5.background-repeat-no-repeat,
h6.background-repeat-no-repeat,
.background-repeat-no-repeat > div,
.background-repeat-no-repeat > *{
	background-repeat:no-repeat !important;
}

div.background-repeat-repeat-x,
section.background-repeat-repeat-x,
h1.background-repeat-repeat-x,
h2.background-repeat-repeat-x,
h3.background-repeat-repeat-x,
h4.background-repeat-repeat-x,
h5.background-repeat-repeat-x,
h6.background-repeat-repeat-x,
.background-repeat-repeat-x > div,
.background-repeat-repeat-x > *{
	background-repeat:repeat-x !important;
}

div.background-repeat-repeat-y,
section.background-repeat-repeat-y,
h1.background-repeat-repeat-y,
h2.background-repeat-repeat-y,
h3.background-repeat-repeat-y,
h4.background-repeat-repeat-y,
h5.background-repeat-repeat-y,
h6.background-repeat-repeat-y,
.background-repeat-repeat-y > div,
.background-repeat-repeat-y > *{
	background-repeat:repeat-y !important;
}

div.background-attachment-fixed,
section.background-attachment-fixed,
h1.background-attachment-fixed,
h2.background-attachment-fixed,
h3.background-attachment-fixed,
h4.background-attachment-fixed,
h5.background-attachment-fixed,
h6.background-attachment-fixed,
.background-attachment-fixed > div,
.background-attachment-fixed > *{
	background-attachment:fixed !important;
}

.wpb_gmaps_widget .wpb_wrapper{
    padding:0 !important;
}