/*--------------------------------------------------------------
# Fancybox Fix
--------------------------------------------------------------*/

/* fancybox-thumbs */

.fancybox-thumbs{
	top:auto;
	width:auto;
	bottom:0;
	left:0;
	right:0;
	height:95px;
	padding:10px 10px 0 10px;
	box-sizing:border-box;
	background-color:rgba(0,0,0,0.3);
}

.fancybox-show-thumbs .fancybox-inner{
	right:0;
	bottom:95px;
	overflow:visible;
}

.fancybox-thumbs::-webkit-scrollbar{
	height:7px;

}
.fancybox-thumbs::-webkit-scrollbar-track{
	background-color:#2a2a2a;
	border-radius:10px;
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}

.fancybox-thumbs::-webkit-scrollbar-thumb{
	background-color:#ccc;
	border-radius:10px;
}