/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer Style Custom
--------------------------------------------------------------*/

.wraper_footer.custom-footer{

	&.footer-custom-stucking-mode{
		position:fixed;
		z-index:1;
		bottom:0;
		left:0;
		right:0;
	}

	> .container{
	}

}