/*--------------------------------------------------------------
# Hamburger Menu
--------------------------------------------------------------*/

#hamburger-menu{
    width:100%;
}

body.hamburger-menu-open #hamburger-menu{
    box-shadow:0px 0 30px rgba(0,0,0,0.1);
}

.hamburger-menu{
	position:relative;
	padding-right:100px;

	.hamburger-menu-close{
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		z-index:1;
		width:100px;
		padding:20px;
		border-left:1px rgba(0,0,0,0.12) solid;
		text-align:center;

		> .table{
			display:table;
			table-layout:fixed;
			width:100%;
			height:100%;

			> .table-cell{
				display:table-cell;
				width:100%;
				height:100%;
				vertical-align:top;

				.hamburger-menu-close-lines{
					position:relative;
					display:inline-block;
					vertical-align:top;
					width:40px;
					height:40px;
					cursor:pointer;
					transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
					transition:all 0.5s ease-in-out;
					-webkit-transition:all 0.5s ease-in-out;

					&:hover{
					    transform:rotate(135deg);
						-webkit-transform:rotate(135deg);
					}

					> span{
						position:absolute;
						background-color:rgba(0,0,0,0.4);
						transition:all 0.3s ease-in-out;
						-webkit-transition:all 0.3s ease-in-out;

						&:nth-child(1){
							top:0;
							bottom:0;
							left:50%;
							width:2px;
							margin-left:-1px;
						}

						&:nth-child(2){
							top:50%;
							left:0;
							right:0;
							height:2px;
							margin-top:-1px;
						}

					}

				}

			}

		}

	}

	.hamburger-menu-main{
		padding:60px 60px 60px 60px;

		.widget{
			margin-bottom:50px;

			&:last-child,
			&:only-child{
				margin-bottom:0;
			}

		}

		.widget-title{
			margin-bottom:30px;
			text-transform:uppercase;
			font-size:20px;
			color:#252525;
			line-height:28px;
			letter-spacing:-0.5px;

			a{
				color:inherit;
			}

		}

		p{
			margin-bottom:15px;
			font-weight:400;
			font-size:16px;
		    color:#636363;
		    line-height:30px;

		    strong{
			    font-weight:500;
			}

		}

		.textwidget{

			> *:last-child{
				margin-bottom:0 !important;
			}

		}

		.widget_media_image{

			img{
			}

		}

		.widget_nav_menu{
			width:100%;
			margin-top:20px;
			margin-bottom:30px;
			text-align:center !important;

			ul{

				li{
					margin-bottom:15px;
					font-weight:600;
					font-size:28px;
					color:#0c121f;
					line-height:35px;
				}

				li a{
					color:inherit;
				}

				li a:after{
					content:".";
					color:#b2b2b2;
				}

				li.menu-item-has-children > a > .radiantthemes-open-submenu{
					margin-left:10px;
				}

				li.menu-item-has-children.radiantthemes-menu-open > a > .radiantthemes-open-submenu{
					transform:rotate(180deg);
					-webkit-transform:rotate(180deg);
				}

				li ul{
					margin-top:10px;
				}

				li ul li{
					font-size:25px;
					line-height:30px;
				}

			}

		}

		.widget_categories ul,
		.widget_pages ul,
		.widget_archive ul,
		.widget_meta ul,
		.widget_recent_entries ul,
		.widget_recent_comments ul,
		.widget_product_categories ul,
		.widget_rss ul{
			margin-bottom:20px;
		}

		.widget_categories ul:after,
		.widget_pages ul:after,
		.widget_archive ul:after,
		.widget_meta ul:after,
		.widget_recent_entries ul:after,
		.widget_recent_comments ul:after,
		.widget_product_categories ul:after,
		.widget_rss ul:after{
			content:" ";
			display:block;
			clear:both;
		}

		.widget_categories ul li,
		.widget_pages ul li,
		.widget_archive ul li,
		.widget_meta ul li,
		.widget_recent_entries ul li,
		.widget_recent_comments ul li,
		.widget_product_categories ul li,
		.widget_rss ul li{
			clear:both;
			padding-top:12px;
			padding-bottom:12px;
			border-bottom:1px rgba(0,0,0,0.1) solid;
			font-weight:400;
			font-size:15px;
			color:#0c121f;
			line-height:26px;
		}

		.widget_categories ul li:last-child,
		.widget_pages ul li:last-child,
		.widget_archive ul li:last-child,
		.widget_meta ul li:last-child,
		.widget_recent_entries ul li:last-child,
		.widget_recent_comments ul li:last-child,
		.widget_product_categories ul li:last-child,
		.widget_rss ul li:last-child{
			border-bottom:none;
		}

		.widget_categories ul li a,
		.widget_pages ul li a,
		.widget_archive ul li a,
		.widget_meta ul li a,
		.widget_recent_entries ul li a,
		.widget_recent_comments ul li a,
		.widget_product_categories ul li a,
		.widget_rss ul li a{
			color:inherit;
			transition:all 0.3s ease-in-out;
			-webkit-transition:all 0.3s ease-in-out;
		}

		.widget_categories ul li a:hover,
		.widget_pages ul li a:hover,
		.widget_archive ul li a:hover,
		.widget_meta ul li a:hover,
		.widget_recent_entries ul li a:hover,
		.widget_recent_comments ul li a:hover,
		.widget_product_categories ul li a:hover,
		.widget_rss ul li a:hover{
		}

		.widget_categories ul li ul,
		.widget_pages ul li ul,
		.widget_archive ul li ul,
		.widget_meta ul li ul,
		.widget_recent_entries ul li ul,
		.widget_recent_comments ul li ul,
		.widget_product_categories ul li ul,
		.widget_rss ul li ul{
			margin-top:10px;
			margin-bottom:0;
			margin-left:20px;
			/*font-size:90%;*/
		}

		.widget_categories ul li ul li ul,
		.widget_pages ul li ul,
		.widget_archive ul li ul,
		.widget_meta ul li ul,
		.widget_recent_entries ul li ul,
		.widget_recent_comments ul li ul,
		.widget_product_categories ul li ul,
		.widget_rss ul li ul li ul{
			/*font-size:90%;*/
		}

		.widget_recent_entries ul li .post-date{
			display:block;
			position:relative;
			margin-top:6px;
			padding-left:22px;
			font-weight:500;
			font-size:85%;
			color:rgba(0,0,0,0.7);
		}

		.widget_recent_entries ul li .post-date:before{
			position:absolute;
			top:0;
			left:0px;
			z-index:0;
			content:"\f017";
			font-family:'FontAwesome';
		}

		.widget_rss ul li .rss-date,
		.widget_rss ul li .rssSummary,
		.widget_rss ul li cite{
			color:rgba(255,255,255,0.6);
		}

		.widget_calendar{
			margin-top:10px;
			margin-bottom:20px;
		}

		.widget_calendar .calendar_wrap table{
			width:100%;
			table-layout:fixed;
			border:1px rgba(0,0,0,0.2) solid;
		}

		.widget_calendar .calendar_wrap table tr{
			background-color:initial;
		}

		.widget_calendar .calendar_wrap table tr th,
		.widget_calendar .calendar_wrap table tr td{
			padding:4px !important;
			border:1px rgba(0,0,0,0.2) solid;
			text-align:center;
			font-weight:400;
			font-size:80%;
			color:#fff;
		}

		.widget_calendar .calendar_wrap table tr th a,
		.widget_calendar .calendar_wrap table tr td a{
			color:inherit;
		}

		.widget_calendar caption{
			color:rgba(0,0,0,0.8);
		}

		.rt-twitter-box ul li{
			position:relative;
			margin-bottom:15px;
			padding:0px 0px 0px 30px;
			border-bottom:none;
		}

		.rt-twitter-box ul li:before{
			position:absolute;
			top:1px;
			left:0;
			z-index:0;
			content:"\f099";
			font-family:"FontAwesome";
		}

		.rt-twitter-box ul li .tweet{
		    margin-bottom:0;
		}

		.rt-twitter-box ul li .interact{
			display:none;
		}

		input[type="text"],
		input[type="email"],
		input[type="search"],
		select{
			width:100%;
			height:60px;
			margin-bottom:12px;
			padding-left:20px;
			padding-right:20px;
			background-color:#f7f9f9;
			border:none;
			border-radius:35px;
			font-weight:300;
			font-size:16px;
			color:#0c121f;
			line-height:26px;
		}

		input[type="submit"],
		input[type="button"],
		button[type="submit"],
		button[type="button"]{
			height:60px;
			padding:10px 25px 10px 25px;
			border:none;
			border-radius:35px;
			text-transform:uppercase;
			font-weight:400;
			font-size:15px;
			color:#0c121f;
			line-height:26px;
		}

		.widget_search form.search-form{
			position:relative;
		}

		.widget_search form.search-form > label{
			width:100%;
		}

		.widget_search form.search-form button[type="submit"]{
			position:absolute;
			top:0;
			right:0;
			background-color:#f7f9f9;
		}

		.widget_text .wp-caption{
			display:block;
		}

		.widget_text img{
			margin-bottom:10px;
		}

		.tagcloud a{
			margin-right:10px;
			margin-bottom:5px;
			color:#fff;
		}

		ul.contact{
		}

		ul.contact li{
			position:relative;
			margin-bottom:10px;
			padding-left:28px;
			font-weight:400;
			font-size:15px;
			color:#0c121f;
			line-height:26px;
		}

		ul.contact li strong{
			text-transform:uppercase;
			font-weight:600;
		}

		ul.contact li:before{
			position:absolute;
			top:0;
			z-index:0;
			font-family:"FontAwesome";
		}

		ul.contact li.email:before{
			left:0px;
			content:"\f0e0";
		}

		ul.contact li.address:before{
			left:3px;
			content:"\f041";
		}

		ul.contact li.phone:before{
			left:0px;
			content:"\f095";
		}

		ul.social{
			font-size:0;

			li{
				display:inline-block;
				vertical-align:top;
				margin-right:20px;
				margin-bottom:10px;

				a{
					display:block;
					font-size:20px;
					color:rgba(0,0,0,0.3);
					line-height:1;
					transition:all 0.3s ease-in-out;
					-webkit-transition:all 0.3s ease-in-out;

					&:hover{
						color:#333;
					}

				}

			}

		}

		.widget_radiant_recent_posts_widget ul{

			li{
				min-height:85px;
				margin-bottom:30px;
				padding-left:100px;

				&:last-child,
				&:only-child{
					margin-bottom:0;
				}

				img{
					position:absolute;
					top:5px;
					width:80px;
				}

				.title{
					margin-bottom:0;
					font-size:16px;
				    color:#252525;
				    line-height:25px;
				}

				.date{
					margin-top:6px;
					margin-bottom:0;
					font-size:14px;
					color:#bbc7cd;
					line-height:20px;
				}

				a{
					color:inherit;
				}

			}

		}

	}

}