/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

*{
	margin:0 auto;
	text-decoration:none !important;
	outline:none !important;
}

img{
	width:auto;
	max-width:100%;
	height:auto;
	border:0;
}

iframe{
	max-width:100%;
}

ul,
ol{
	margin:0;
	padding:0;
	list-style:none;
}

ol{
	list-style:decimal inside;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top:0;
	margin-bottom:15px;
	padding:0;
	visibility:inherit !important;
}

strong{
	font-weight:600;
}

p{
	margin-bottom:20px;
	padding:0;
}

blockquote{
	margin:0;
	padding:0;
    border:none;
}

label{
	font-weight:400;
}

del,
del *{
	text-decoration:line-through !important;
}