/*--------------------------------------------------------------
# Overlay
--------------------------------------------------------------*/

body > .overlay{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:9999;
	content:" ";
	width:auto;
	height:auto;
	background-color:rgba(0,0,0,0.65);
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

body.mobile-menu-open > .overlay{
	opacity:1;
	visibility:visible;
}