.tagcloud {
	a {
		padding-bottom: 1px;
		border-width: 2px;
		line-height: ~"min(1.5em, 30px)";
		text-decoration: underline;
		margin: 0;
		font-weight: inherit;
	}
}

.vamtam-body-sidebar .widget .tagcloud {
    margin-top: 10px;
}