// Instagram Feed Widget.
.elementor-widget-wp-widget-instagram-feed-widget {
	// Base Theme Widget Styles.
	&.vamtam-has-theme-widget-styles {
		&.vamtam-instagram-img {

			.sbi_photo_wrap {
				border-radius: 18px;
				overflow: hidden;
    			mask-image: radial-gradient(white, black);
			}

			.sbi_photo {
				border-radius: 6px;
				overflow: hidden;
				img {
					border-radius: 6px;
					overflow: hidden;
				}
			}

		}
	}
}
