body {
	word-wrap: break-word;
}

a {
	transition: .3s;
}

abbr[title] {
	text-decoration: underline;
}

blockquote {
	font-size: 2.188em;
	line-height: 1.6;
	letter-spacing: 0.3125em;
	text-transform: uppercase;
	text-align: center;
	cite {
		line-height: 1.75;
		letter-spacing: 0.25em;
		text-transform: none;
		font-size: 1rem;
	    letter-spacing: 0px !important;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	line-height: 1.75;
	// th,
	// td {
	// 	padding: 10px;
	// }
}

:not(pre) > code {
	white-space: normal;
}

figure,
.wp-caption {
	text-align: center;
	max-width: 100%;
}

figcaption,
.wp-caption-text,
.gallery-caption {
	text-align: left;
	font-size: .875em;
	padding-left: 10px;
	border-left: 1px solid #eee;
	margin-left: 10px;
	margin-top: 10px;
}

del {
	font-size: .875em;
	text-decoration: line-through;
	> * {
		text-decoration: line-through;
	}
}

ins {
	background: none;
}

ol,
ul {
	padding-left: 20px;
}

.alignleft {
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	@media (min-width: $breakpoint-medium) {
		margin-right: 20px;
	}
}

.aligncenter {
	margin: 0 auto;
}

.alignright {
	float: right;
	margin-left: 30px;
	margin-bottom: 20px;
	@media (min-width: $breakpoint-medium) {
		margin-left: 20px;
	}
}

@for $i from 1 through 9 {
	.gallery-columns-#{$i} {
		display: flex;
		flex-wrap: wrap;
		margin-left: -20px;
		> * {
			box-sizing: border-box;
			width: calc(100% / #{$i});
			padding-left: 20px;
			margin: 0 0 20px;
		}
	}
}

.post-password-form {
	input[type="password"] {
		margin-bottom: 20px;
	}
	input[type="submit"] {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 3.575em;
		padding-right: 3.75em;
		padding-left: 3.75em;
		font-size: .875em;
		line-height: 1.1;
		color: #fff;
		background-color: #00a651;
		text-transform: uppercase;
		cursor: pointer;
	}
}
