.elementor-widget-woocommerce-my-account.vamtam-has-theme-widget-styles {
	.login .woocommerce-form-login__rememberme {
		margin-bottom: 25px;
	}

	.register .woocommerce-privacy-policy-text {
		margin-bottom: 25px;
	}

	.woocommerce {
		.u-column1.col-1,
		.u-column1.col-2 {
			width: 45%;
		}
		.vamtam-tabbed {
			.u-column1.col-1,
			.u-column1.col-2 {
				width: 100%;
			}
		}
	}
}
