$icomoon-font-path: "../fonts" !default;

$df-Home: "\e983";
$df-Payment: "\e984";
$df-calendar: "\e985";
$df-google-plus: "\e97e";
$df-google: "\e901";
$df-facebook: "\e900";
$df-tumblr: "\e902";
$df-twitter: "\e903";
$df-youtube: "\e904";
$df-snapchat: "\e905";
$df-vimeo: "\e906";
$df-vk: "\e907";
$df-spotify: "\e908";
$df-pinterest: "\e909";
$df-flickr: "\e90a";
$df-linkedin: "\e90b";
$df-lastfm: "\e90c";
$df-behance: "\e90d";
$df-dribbble: "\e90e";
$df-soundcloud: "\e90f";
$df-rss: "\e910";
$df-weibo: "\e911";
$df-git: "\e912";
$df-github: "\e913";
$df-foursquare: "\e914";
$df-medium: "\e915";
$df-whatsapp: "\e916";
$df-hangout: "\e917";
$df-facebook-messenger: "\e918";
$df-instagram: "\e919";
$df-skype: "\e91a";
$df-mail: "\e91b";
$df-mail-open: "\e91c";
$df-map-marker: "\e91d";
$df-marker: "\e91e";
$df-gallery: "\e91f";
$df-picture: "\e920";
$df-gift: "\e921";
$df-give-gift: "\e922";
$df-heart-fill: "\e923";
$df-heart: "\e924";
$df-account: "\e925";
$df-account-round: "\e926";
$df-logout: "\e927";
$df-external-link: "\e928";
$df-cart-bag: "\e929";
$df-cart: "\e92a";
$df-cart-checkout: "\e92b";
$df-cart-loaded: "\e92c";
$df-help: "\e92d";
$df-attention: "\e92e";
$df-info: "\e92f";
$df-ok: "\e930";
$df-cancel: "\e931";
$df-error: "\e932";
$df-delete-message: "\e933";
$df-about: "\e934";
$df-speech-bubble: "\e935";
$df-chat: "\e936";
$df-document: "\e937";
$df-edit-square: "\e938";
$df-edit: "\e939";
$df-delete-x: "\e93a";
$df-checked: "\e93b";
$df-checkmark: "\e93c";
$df-horizontal-setting: "\e93d";
$df-plus: "\e93e";
$df-minus: "\e93f";
$df-eye: "\e940";
$df-360: "\e941";
$df-arrow-backward: "\e942";
$df-arrow-down: "\e943";
$df-arrow-forward: "\e944";
$df-arrow-up: "\e945";
$df-attach: "\e946";
$df-bookmark: "\e947";
$df-check: "\e948";
$df-clock: "\e949";
$df-coupon: "\e94a";
$df-cube: "\e94b";
$df-delete-trash-x: "\e94c";
$df-delete-trash: "\e94d";
$df-delivery: "\e94e";
$df-download: "\e94f";
$df-filter: "\e950";
$df-flag: "\e951";
$df-key: "\e952";
$df-lock: "\e953";
$df-long-arrow-down: "\e954";
$df-long-arrow-left: "\e955";
$df-long-arrow-right: "\e956";
$df-long-arrow-up: "\e957";
$df-menu-dot-horizontal: "\e958";
$df-menu-dot-vertical: "\e959";
$df-menu-apple: "\e95a";
$df-menu-left: "\e95b";
$df-menu: "\e95c";
$df-minus-no-border: "\e95d";
$df-plus-no-border: "\e95e";
$df-quote: "\e95f";
$df-openbook: "\e960";
$df-phone-message: "\e961";
$df-play: "\e962";
$df-ruler: "\e963";
$df-search-clear: "\e964";
$df-search: "\e965";
$df-search-flip: "\e966";
$df-services: "\e967";
$df-settings: "\e968";
$df-shield: "\e969";
$df-size-guide: "\e96a";
$df-sizes: "\e96b";
$df-sort-down: "\e96c";
$df-sort-up: "\e96d";
$df-star-fill: "\e96e";
$df-star-half-empty: "\e96f";
$df-star-half: "\e970";
$df-star: "\e971";
$df-tag: "\e972";
$df-tracking-order: "\e973";
$df-undo: "\e974";
$df-expand: "\e975";
$df-unexpand: "\e976";
$df-unlock: "\e977";
$df-upload-ios: "\e978";
$df-upload: "\e979";
$df-share-new: "\e97a";
$df-share: "\e97b";
$df-zoom-in: "\e97c";
$df-zoom-out: "\e97d";
$df-audio: "\e97f";
$df-circle-play: "\e980";
$df-tri-top: "\e981";
$df-tri-bottom: "\e982";
